.invoice-card {
  background: #fff;
  border-radius: 17px;
  padding: 41px 32px;
box-shadow: 8.21px 8.21px 20.54px 0px #00000014;
}

.header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 26px;
}
.header h2{
    font-size: 27px;
    color:#1A1A1A;
    margin-bottom: 0px;
}
.back-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.invoice-card-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.invoice-summary h3 {
  font-size: 25px;
  font-weight: 400;
 margin: 0;
 line-height: 29px;
 color:#3F4254;
}

.invoice-summary .amount {
  font-weight: bold;
}

.invoice-label {
  margin-top: 15px;
  background:#F3F6F9;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  color:  var(--lighter-shade, #64748B);
}

.status-label {
  font-weight: 700;
}

.note {
  margin-top: 12px;
  font-size: 18px;
  color: #64748B;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-button {
  background: #F3F6F9;
  padding: 12px;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 500;
  color: #64748B;
  gap:11px;
  font-size: 19px;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.icon-button i{
  color: #64748B;
}

.table-wrapper {
  overflow-x: auto;
  margin-top: 16px;
  border: 1.31px solid #E4E4EF;
  border-radius: 11px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}

.styled-table th,
.styled-table td {
  padding:18px 24px;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0px -1px 0px 0px #E4E4EF inset;
}

.styled-table th {
  color: #1A1A1A;
  font-weight: 500;
  opacity: 60%;
  font-size: 20px;
}
.styled-table td{
    color:#1A1A1A;
    font-size: 18px;
}
.styled-table td:nth-child(3) {
    color: #64748B;
}

.badge {
  padding: 14px 32px;
  border-radius: 16px;
font-size: 16px;
font-size: 400;
  display: inline-block;
}

.badge.paid {
  background-color: #EBF6EB;
  color: #31AA27;
}

.btn-action {
  background: #F5F4F8;
  padding: 9px 17px;
  gap:9px;
  display: flex;
  align-items: center;
  border-radius: 9px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  color: #454056;
}
.btn-action i{
     color: #454056;
     }
.pending{
    background-color:#FFF0F0;
     padding: 16px 22px;
     color: #F93232;
     font-weight: 400;
}