/** @format */

.card {
    border: none;
    border-radius: 20px;
}

.start {
    border: none;
    background: #ff5757;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    padding: 6px 20px;
    text-decoration: none;
}

.fs-2 {
    font-weight: 600;
}

h5 {
    font-weight: 700;
}

p {
    color: grey;
    font-weight: 600;
    margin: 0;
}

small {
    color: grey;
    font-weight: 600;
    margin: 0;
}

.bi-check-circle-fill {
    color: #ff5757;
}

.right {
    background: #fcf8f7;
    border-radius: 20px;
}

.nav-item>.active {
    color: #ff5757;
    border-bottom: 2px solid #ff5757;
}

.nav-link {
    font-weight: 500;
    color: #a1a5b7;
    font-size: 15.1px;
    letter-spacing: 0;
    line-height: normal;
}

.card {
    border-radius: 10px;
    border: none;
}

.tabs {
    border: none;
    border-radius: 0px;
    background-color: white;
    margin: 0px 20px 0px 20px;
}

.verifybtn {
    border: 1px solid #ff5757;
}

.btn-outline-secondary {
    border-color: #ff5757;
    color: #ff5757;
    font-size: 13px;
}

.btn-outline-secondary:hover {
    border-color: white;
    color: white;
    font-size: 13px;
    background: #ff5757;
}

.illustration {
    width: 63%;
}

.user-profile-row1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14.55px;
}

.user-profile-row1 {
    height: 135px;
    border-radius: 14.55px;
    position: relative;
}

.profile-edit-bg {
    position: absolute;
    right: 28px;
    top: 28px;
    background-color: #ffffff;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-image-user {
    width: 115px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    overflow: hidden;
    position: relative;
    left: 30px;
}

.profile-image-user>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-edit-cover {
    position: absolute;
    right: 20px;
    top: 14px;
    background-color: #ffffff;
    height: 28px;
    width: 46px;
    border-radius: 13px;
    text-align: center;
    color: #838383;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-edit-cover:hover {
    background: #ff6c68;
    color: #ffff;
    transition: 0.3s;
    /* transform: scale(1.2); */
}

.profile-image-edit {
    position: absolute;
    left: 100px;
    background-color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-image-round {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-row2 {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
    align-items: center;
}

.profile-row2>img {
    color: black;
}

.profile-row2>h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.custom-otp-input {
    width: 48px;
    height: 48px;
    font-size: 24px;
    appearance: none;
    text-align: center;
    transition: all 0.2s;
    border-radius: 0;
    border: 1px solid var(--surface-400);
    background: transparent;
    outline-offset: -2px;
    outline-color: transparent;
    border-right: 0 none;
    transition: outline-color 0.3s;
    color: var(--text-color);
}

.custom-otp-input:focus {
    outline: 2px solid var(--primary-color);
}

.custom-otp-input:first-child,
.custom-otp-input:nth-child(5) {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.custom-otp-input:nth-child(3),
.custom-otp-input:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: var(--surface-400);
}


.otptext {
    padding: 0px 10px;
    font-size: 12px;
    position: relative;
    color: #ff5757;
    cursor: pointer;
    transition: all 0.3s ease;
}

.otptext:hover {
    color: #ffff;
    background-color: #ff5757;
}

.btn-submit {
    background-color: #ff5757;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.btn-resend {
    color: #ff5757;
    text-decoration: underline;
    cursor: pointer;
}

.btn-resend:hover {
    /* color: white; */
    /* background-color: #ff5757; */
    border-radius: 10px;
    padding: 10px;
}

.custom-input {
    border: 2px solid #3490dc;
    /* Change this to your desired color */
    border-radius: 4px;
    /* Optional: add border radius */
    padding: 0.5rem;
    /* Optional: add some padding */
}

/* Optional: Change border color on focus */
.custom-input:focus {
    border-color: #1d68a7;
    /* Change this to your desired focus color */
    outline: none;
    /* Remove default outline */
}


#border-gigma {
    border: 1px solid #efecf3;
    border-radius: 12px;
    padding: 15px 20px;
}

.style-formkit-inpt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.style-formkit-inpt-dob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
}

.first-inpt-frmkit-dbo {
    width: 48%;
}

.profile-gender {
    width: 48%;
}

.first-inpt-frmkit {
    width: 100%;
}

.suze-editnm {
    font-size: 20px;
    cursor: pointer;
}

.adhar-verify-profile {
    border: 1px solid #ff5757;
    color: #ff5757;
    border-radius: 10px;
    padding: 6px 10px;
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.adhar-verify-profile-true {

    border-radius: 18px;
    padding: 4px 10px;
    position: absolute;
    right: 5px;
    top: 10px;
    font-weight: 600;
}

.formkit-label {
    color: #454056;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.formkit-input {
    color: #666276 !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.placeholder-image-input {
    background: url('/img/svg/dashed.svg') no-repeat left center;
    background-size: 20px;
    padding-left: 40px;
    font-size: 16px;
}

.placeholder-image-input::placeholder {
    color: transparent;
}

.inside-adde-auto {
    position: absolute;
    right: 5px;
    top: 30px;
    color: #9691a4;
    font-weight: 400;
}

.inside-adde-auto:hover {
    color: #ff5757;
    cursor: pointer;
    font-weight: 600;
}

.last-flex-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.cstm-wdth-knowledge {
    width: 31%;
}

.lastprfl-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
}

#submitbtn {
    color: #fff;
    background-color: #ff5757;
    padding: 6px 18px;
    border-radius: 30px;
    font-size: 14px;
    border: 1px solid #ff5757;
}
#submitbtn:hover{
    color:#ff5757;
    background-color: #ffffff;
}

.delet-profact {
    color: #ff5757;
    font-weight: 700;
}

.maxwdth-prfl-cntainer {
    max-width: 95%;
    width: 100%;
    margin: auto;
    padding: 30px 15px;
}

@media screen and (max-width:767px) {
    .cstm-wdth-knowledge {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .first-inpt-frmkit-dbo {
        width: 100%;
    }

    .profile-gender {
        width: 100%;
    }

    .maxwdth-prfl-cntainer {
        max-width: 100%;
    }
}

@media screen and (max-width:400px) {
    .adhar-verify-profile {
        right: -30px;

    }
}

.profile-edit {
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: 0.835px solid #ff5757;
    border-radius: 18px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Arial, sans-serif;
    color: #ff5757;
    font-size: 19px;
    gap: 8px;
}
.profile-edit:hover{
    background-color: #ff5757;
    color: #ffffff;
}
.deletebtn{
    margin-left: auto;
}

