    .main-container {
    display: flex;
    gap: 30px;
    /* max-width: 1500px; */
  }
  
  .comments-section {
    background: white;
    border-radius: 21px;
    padding: 29px 29px 43px;
    box-shadow: 10.3px 10.3px 25.75px 0px #00000014;
  }
  .comments-section {
    width: 62%;
  }
  .logs-section {
   width: 38%;
    max-height: 520px;
    border-radius: 16px;
    padding:29px 21px 12px ;
    background-color: #ffffff;
    box-shadow: 7.87px 7.87px 19.66px 0px #00000014;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
  }
  .header h2{
    color: #1F1B2D;
font-size: 24px;
font-weight: 700;
line-height: 130%;
margin-bottom: 0px;
  }
  .add-btn {
    padding: 1px 20px;
    border: 1.23px solid #ff5757;
    background: #fff;
    color: #ff5757;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    border-radius: 27px;
    cursor: pointer;
  }
  
  .comment-card {
    padding: 19px 14px;
    align-items: center;
    width: 100%;
    border-bottom:  2.07px solid #EDEDED;
  }
  .comment-card h4{
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 500;
  }
  
  .desc {
    color:  #B5B5C3;

font-weight: 500;
    margin: 8px 0;
  }
  
  .footer {
   font-size: 18px;
font-weight: 400;
color:#464E5F;
  }
  
  .tag {
    padding: 6px 11px;
    font-size: 16px;
    border-radius: 11px;
    color: #6750A3;
font-weight: 700;
line-height: 39px;
letter-spacing: -2%;
   background-color:  #6750A31A;
  }
  
  .comment-card.followup {
    background-color:  #D7DCE433;
  }

  .followup-text {
    color: #ff5757;
    font-size: 16px;
    font-weight: 700;
  }
  
  .status {
    font-size: 18px;
    color: #64768b;
    margin-top: 5px;
  }
  
  .comment-label {
    color: #7e57c2;
  }
  
  .call {
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .call-status {
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
  
  .call-status.connected {
    background-color: #05CD991A;
    color:  #05CD99;
    
  }
  
  .call-status.not-picked {
    background: #FF57571A;
    color: #ff5757;
  }
  
  .call-info {
    font-size: 16px;
    color: #464E5F;
line-height: 100%;
font-weight: 400;
text-align: right;
  }
  
  .call-info-text {
    color: #464E5F;
font-weight: 500;
    font-size: 16px;
   justify-content: end;
  }
  
  .log {
    border-left: 2px solid #3c3c3c;
    padding-left: 16px;
  }
  
  .log-title {
    margin: 0;
    color: #1B2559;
line-height: 31px;
letter-spacing: -2%;
    font-weight: 700;
    font-size: 18px;
  }
  
  .log-action {
    font-weight: bold;
    margin-left: 5px;
  }
  .followup-btn-btn-dle-appt{
    background-color: #ff5757;
color: #ffffff;
  }
  .log small {
    color: #A3AED0;
font-size: 14px;
line-height: 22px;
letter-spacing: -2%;
font-weight: 500;
  }
  /* .comment-card-left{
    width: 65%;
  } */
     @media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .main-container {
    gap: 23px;
  }
  .call-status {
    padding: 5px 10px;
    font-size: 15px;
  }
  .comment-card {
    padding: 15px 11px;
  }
  .comments-section{
    padding: 20px 20px 33px;
}}
   @media only screen and (min-width: 900px) and (max-width: 1024px) {
    .main-container{
      gap:17px;
    }
    .comment-card-left{
      width: 54%;
    }
    .comments-section {
    padding: 29px 18px 43px;
  }
  .logs-section{
    padding:29px 16px 12px ;
  }
  .comment-card {
    padding: 16px 10px;
}
   }
  @media (max-width: 900px){
   .main-container{
    flex-direction: column;
   }
   .comment-card-left{
      width: 70%;
    }
   .comments-section , .logs-section{
    width: 100%;
   }}
     @media (max-width: 761px){
      .comment-card-left{
      width: 63%;
    }
     .comments-section {
    padding: 29px 16px 43px;
  }
  .logs-section{
    padding:29px 16px 12px ;
  }
  .comment-card {
    padding: 16px 10px;
}
     }
      @media (max-width: 611px){
      .comment-card-left{
      width: 58%;
    }}
    @media (max-width: 515px){
.comment-card{
flex-wrap: wrap;
gap:10px;
}
/* .comment-card-left{
    width: 100%;
  }
  .comment-card-right{
    width: 100%;
  } */
  .call-status, .call-info{
    text-align: left;
  }
  .call-info-text{
    justify-content: start;
  }
    }
      @media (max-width: 470px){
        .header {
flex-direction: column;
}
.add-btn {
    line-height: 30px;
    padding: 2px 15px;
}
.log-title[data-v-0ed831db] {
    line-height: 26px;
    font-weight: 600;
    font-size: 16px;
}
      }
      @media (max-width: 390px){
     .comments-section {
    padding: 24px 15px 37px;
  }
  .logs-section{
    padding:29px 15px 21px ;
  }
  .comment-card {
    padding: 16px 10px;
}
      }

  