/** @format */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.Smaddetail-wrapper {
  display: flex;
}

.Smaddetail-section1 {
  width: 50%;
  background-color: #ffffff;
  padding: 30px;
}

.Smaddetail-section1-row1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.Smaddetail-section1-row2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Smaddetail-section1-btn {
  text-align: center;
}

.Smaddetail-section1-btn > button {
  width: 548px;
  height: 82px;
  background-color: #ff5757;
  color: #ffffff;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  border: none;
  border-radius: 7px;
  transition: ease-out 0.8s;
  outline: none;
  position: relative;
  z-index: 1;
}

.Smaddetail-section1-btn > button:hover {
  color: red;
}

.Smaddetail-section1-btn > button::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #fff;
  border: 1px solid red;
  border-radius: 7px;
}
.Smaddetail-section1-btn > button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.Smaddetail-section2 {
  width: 50%;
  background: #f6f8fb;
  padding: 40px;
}

.Smaddetail-section2-row1 {
  display: flex;
  justify-content: space-between;
}

.Smaddetail-section2-back {
  display: flex;
  gap: 8px;
}

.Smaddetail-section2-back > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #8692a6;
  display: flex;
  align-items: center;
  gap: 8px;
}

.Smaddetail-section2-back > a > p {
  margin: 0px;
}

.back-logo {
  color: #8692a6;
  font-size: 16px;
}

.Smaddetail-section2-row1-col2 :first-child {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
}

.Smaddetail-section2-row1-col2 :nth-child(2) {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: right;
  color: #8692a6;
}

.Smaddetail-section2-row2 {
  padding-top: 50px;
}

.Smaddetail-section2-row2 > h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  margin: 0px;
  color: #1f1f1f;
}

.Smaddetail-section2-row2 > h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  color: #ff5757;
}

.Smaddetail-form {
  width: 440px;
  padding-top: 50px;
}

.Smaddetail-form > label {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: 0.29px;
  color: #0f172a;
  padding-bottom: 10px;
  padding-top: 20px;
  border-radius: 10px;
}

.dropdown {
  width: 100%;
  height: 68px;
  border-radius: 9px;
  border: 1px solid #cbd5e1;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #64748b;
}

.Smaddetail-address {
  position: relative;
}

.Smaddetail-address > input {
  width: 100%;
  height: 68px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #8692a6;
  outline: none;
}

.Smaddetail-address-icon {
  position: absolute;
  right: 15px;
  top: 22px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.Smaddetail-address-icon > p {
  margin: 0px;
  font-weight: 400;
  font-size: 13px;
  color: #9691a4;
}

#location {
  color: #9691a4;
}

.Smaddetail-time {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

#start {
  width: 210px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  outline: none;
  font-weight: 400;
  font-size: 19px;
  color: #64748b;
  line-height: 32px;
}

#end {
  width: 210px;
  height: 60px;
  border-radius: 8px;
  padding-left: 10px;
  border: 1px solid #cbd5e1;
  outline: none;
  font-weight: 400;
  font-size: 19px;
  color: #64748b;
  line-height: 32px;
}

.Smaddetail-time > div > label {
  font-size: 18px;
  font-weight: 400;
  color: #0f172a;
  line-height: 32px;
  padding-bottom: 8px;
}

.Smaddetail-section2-endrow {
  padding-top: 30px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 8px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #ffffff;
  box-shadow: 0px 5.145811557769775px 10.29162311553955px 0px #0000001a;
  border-radius: 20px; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.range-box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-top: 15px;
}

#Smaddetail-drpsemi {
  height: 68px;
  outline: none;
}

.Smaddetail-section1-btn {
  margin-top: -82px;
}

.Smaddetail-section2-endrow > div > label {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #0f172a;
}

.slidecontainer > p {
  color: #ff5757;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 37px;
}

.Smaddetail-title > input {
  width: 100%;
  height: 73px;
  border-radius: 10px;
  border: 1.47px solid #cbd5e1;
  padding-left: 15px;
  color: #64748b;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  background-color: #f4f7fa;
  outline: none;
}

.Smaddetail-description > textarea {
  width: 100%;
  height: 73px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background-color: #f6f8fb;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9691a4;
  padding-left: 15px;
  padding-top: 5px;
}

.Smaddetail-creative {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.Smaddetail-creative > h2 {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #0f172a;
  margin: 0px;
}

.Smaddetail-creative > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.29px;
  color: #64748b;
  text-decoration: underline;
}

.Smaddetail-file-upload-box {
  width: 100%;
  height: 72px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 25px;
}

.Smaddetail-file-upload-box > h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #64748b;
  letter-spacing: 0.29px;
  margin: 0px;
}

.arrow-box {
  height: 30px;
  width: 20px;
}

.arrow-box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Smaddetail-cta > label {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #0f172a;
  letter-spacing: 0.29px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Smaddetail-cta-field > input {
  width: 100%;
  height: 72px;
  border-radius: 10px;
  border: 1.47px solid #cbd5e1;
  background-color: #f6f8fb;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.29px;
  color: #64748b;
  padding-left: 15px;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: #181818;
  overflow-y: scroll;
}

body {
  position: relative;
  font: 1em/1.6 'Varela Round', Arial, sans-serif;
  color: #999;
  font-weight: 400;
  max-width: 25em;
  padding: 1em;
  margin: 10% auto;
}

h2 {
  font-weight: 400;
}

/* Filupp styles */
.filupp > input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filupp {
  position: relative;
  background: #f6f8fb;
  display: block;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  height: 3.5em;
  color: #fff;
  cursor: pointer;
  border: 1.47px solid #cbd5e1;
}

.filupp:before {
  content: '';
  position: absolute;
  top: 1.5em;
  right: 12px;
  width: 2em;
  height: 1.25em;
  border: 3px solid #f6f8fb;
  border-top: 0;
  text-align: center;
  background-image: url('/img/png/uparrow.png');
  /* Ensure the logo is properly displayed */
  background-size: contain;
  background-repeat: no-repeat;
}

.filupp:after {
  /* content: '\279c';
  transform: rotate(-90deg);
  position: absolute;
  top: 0.65em;
  right: 0.45em;
  font-size: 2em;
  color: #dd4040;
  line-height: 0; */
  background-image: url('/img/png/uparrow.png');
  /* Ensure the logo is properly displayed */
  background-size: contain;
  background-repeat: no-repeat;
}

.filupp-file-name {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 22px;
  color: #64748b;
}

@media screen and (min-width: 1500px) and (max-width: 1680px) {
  .Smaddetail-section1-btn > button {
    width: 480px;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1499px) {
  .Smaddetail-section1-btn > button {
    width: 450px;
  }
}

@media screen and (min-width: 1380px) and (max-width: 1449px) {
  .Smaddetail-section1-btn > button {
    width: 400px;
  }
  .Smaddetail-form {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1379px) {
  .Smaddetail-section1-btn > button {
    width: 400px;
  }
  #start {
    width: 180px;
  }
  #end {
    width: 180px;
  }
  .Smaddetail-form {
    width: 380px;
    padding-top: 50px;
  }
  .Smaddetail-form {
    padding-top: 10px;
  }
  .Smaddetail-section2-row2 {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1349px) {
  .Smaddetail-section1-btn > button {
    width: 380px;
  }
  #start {
    width: 180px;
  }
  #end {
    width: 180px;
  }
  .Smaddetail-form {
    width: 380px;
    padding-top: 10px;
  }
  .Smaddetail-section1-btn {
    margin-top: -123px;
  }
  .Smaddetail-section1-row2 {
    height: 680px;
  }
  .Smaddetail-section1-row1 {
    padding-bottom: 30px;
  }
  .Smaddetail-section2-row2 {
    padding-top: 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1299px) {
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 70%;
    margin: auto;
    background-color: #f6f8fb;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 440px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
  }

  .Smaddetail-wrapper {
    justify-content: center;
  }
  .Smaddetail-section2 {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
  }
  .Smaddetail-form {
    margin: auto;
    padding-top: 10px;
  }
  .Smaddetail-section2-row2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .Smaddetail-wrapper {
    justify-content: center;
  }
  .Smaddetail-section2 {
    width: 90%;
    margin: auto;
  }
  .Smaddetail-form {
    margin: auto;
    padding-top: 10px;
  }
  .Smaddetail-section2-row2 {
    text-align: center;
  }
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 90%;
    margin: auto;
    background-color: #f6f8fb;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 440px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
  }
}

@media screen and (min-width: 590px) and (max-width: 767px) {
  .Smaddetail-wrapper {
    justify-content: center;
  }
  .Smaddetail-section2 {
    width: 100%;
  }
  .Smaddetail-form {
    margin: auto;
  }
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 100%;
    background-color: #f6f8fb;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 440px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
  }
}

@media screen and (min-width: 490px) and (max-width: 589px) {
  .Smaddetail-wrapper {
    justify-content: center;
  }
  .Smaddetail-section2 {
    width: 100%;
  }
  .Smaddetail-form {
    margin: auto;
    width: 360px;
    padding-top: 10px;
  }
  #start {
    width: 170px;
  }
  #end {
    width: 170px;
  }
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 100%;
    background-color: #f6f8fb;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 360px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
  }
}

@media screen and (min-width: 400px) and (max-width: 489px) {
  .Smaddetail-wrapper {
    justify-content: center;
  }
  .Smaddetail-section2 {
    width: 100%;
  }
  .Smaddetail-form {
    margin: auto;
    width: 300px;
    padding-top: 10px;
  }
  #start {
    width: 140px;
  }
  #end {
    width: 140px;
  }
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 100%;
    background-color: #f6f8fb;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 300px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .Smaddetail-wrapper {
    justify-content: center;
  }
  .Smaddetail-section2 {
    width: 100%;
    padding: 15px;
    padding-bottom: 40px;
  }
  .Smaddetail-form {
    margin: auto;
    width: 300px;
    padding-top: 10px;
  }

  .Smaddetail-section2-row2 > h2 {
    text-align: center;
    line-height: 30px;
    font-size: 25px;
  }
  .Smaddetail-section2-row2 > h3 {
    text-align: center;
    font-size: 25px;
  }
  .Smaddetail-section2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .Smaddetail-creative > h2 {
    line-height: 26px;
  }
  .Smaddetail-creative > p {
    line-height: 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 399px) {
  .Smaddetail-form {
    width: 280px;
  }
  #start {
    width: 130px;
  }
  #end {
    width: 130px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ffffff;
  }
  .slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 6px; /* Specified height */
  }
  .Smaddetail-form > label {
    padding-right: 10px;
  }
  .filupp:before {
    right: 6px;
  }
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 100%;
    background-color: #f6f8fb;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 260px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
    font-size: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .Smaddetail-form {
    width: 240px;
  }
  #start {
    width: 110px;
  }
  #end {
    width: 110px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ffffff;
  }
  .slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 6px; /* Specified height */
  }
  .Smaddetail-address-icon > p {
    display: none;
  }
  .Smaddetail-form {
    padding-top: 30px;
  }
  .Smaddetail-section2-row2 {
    padding-top: 30px;
  }
  .Smaddetail-wrapper {
    flex-direction: column-reverse;
  }
  .Smaddetail-section1-row1 {
    display: none;
  }

  .Smaddetail-section1-row2 {
    display: none;
  }
  .Smaddetail-section1 {
    width: 100%;
    background-color: #f6f8fb;
    padding: 13px;
  }
  .Smaddetail-section1-btn {
    margin-top: 0px;
    width: 240px;
    margin: auto;
    padding-top: 0px;
  }

  .Smaddetail-section1-btn > button {
    width: 100%;
    font-size: 20px;
  }
}
