/** @format */

.nav-item > .active {
  color: #ff5757;
  border-bottom: 2px solid #ff5757;
}

.nav-link {
  font-weight: 500;
  color: #a1a5b7;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: normal;
}

.card {
  border-radius: 20px;
  border: none;
}

.logo_image {
  height: 100%;
  width: 90%;
  border-radius: 10px;
  margin: 20px;
}
.cover_image {
  height: 150px;
  width: max-content;
  border-radius: 10px;
  margin: 20px;
}

.tabs {
  border: none;
  border-radius: 0px;
  background-color: white;
  border-top: 1px solid #eff2f5;

  margin: 0px 20px 0px 20px;
}
.nav {
  justify-content: space-between;
}
.modal-footer-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-top: 30px;
  padding-right: 5px;
}

.your-event-addsign-upld {
  color: red;
}
.your-event-addsign-pp {
  color: red;
  border-radius: 20px;
  border: 1px solid red;
  background-color: #fff;
  float: right;
  padding: 6px 10px;
}
.your-event-addsign-pp:hover {
  color: #fff !important;
  background-color: #ff6c68;
}

.your-event-addsign-pp:hover .bi-upload{
  color: #fff !important;
}

.single-lead-det-inside-delete>i :hover{
  color: red;
}

.your-event-addsign {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #ff6c68;
  height: 52.4px;
  color: #ff6c68;
  padding: 5.2px 20.8px;
  border-radius: 28.6px;
  background-color: #f4f7fe;
  transition: 0.8s;
  font-weight: 500;
  transition: ease-out 0.8s;
  outline: none;
  position: relative;
  z-index: 1;
  font-weight: 700;
}
.your-event-addsign:hover {
  color: #fff !important;
  background-color: #ff6c68;
}

.single-lead-det-inside-delete>i:hover {
  color: #FF5757 !important;
}
.your-event-addsign::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  /* border: 1px solid #fff; */
  border-radius: 24px;
}
.your-event-addsign::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.single-lead-profile {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  /* box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f; */
}
.single-lead-det-right-addapt-box {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 7.5px;
}
.single-lead-det-appt-below {
  margin-bottom: 25px;
}
.single-lead-det-right-logs {
  height: 20vh;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
}
.single-lead-det-left {
  width: 55%;
}
.single-lead-det-right {
  width: 45%;
}
.single-lead-det-wrapper {
  display: flex;
  gap: 30px;
}
.single-leads-created > p {
  display: flex;
  justify-content: end;
  color: #3c3c3c;
  font-weight: 400;
  margin-bottom: 20px;
  padding-right: 24px;
}
.single-lead-backg-clr {
  background-color: #ffdddd;
  display: flex;
  width: 100%;
  align-items: center;
  height: 25px;
  border-radius: 16px;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 20px;
}
.single-lead-abs-image {
  width: 70px;
  height: 70px;
}
.single-lead-abs-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  border: 4px solid #fff;
}
.single-lead-mail {
  display: flex;
  gap: 30px;
}
.single-lead-mail-icn {
  background: #fff;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3.47px 5.81px 0px #00000014;
}
.single-lead-june {
  display: flex;
  align-items: center;
}

.single-lead-june > p {
  color: #ff5757;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
}
.single-lead-name {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 30px 25px 0px;;
}
.single-lead-actmae > p {
  margin-bottom: 11px;
  color: #2b3674;
  font-size: 18px;
  font-weight: 700;
  max-width: 200px;
  overflow-wrap: break-word;  /* Breaks long words if necessary */
  word-wrap: break-word;      /* Breaks long words and wraps them to the next line */
  white-space: normal;
}

:deep(.p-tabview-nav-content){
  border-radius: 20px 20px 0 0;
}

:deep(.p-tabview-nav-content>ul>li>a){
  color: #A1A5B7 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

#update-events-drpsemi-leads {
  border-radius: 101px;
  background-color: #fff4e4;
  color: #E99518;
  padding: 4px 24px;
  border-radius: 12px;
  width: 140px;
  border: none;
}

.single-leads-two {
  margin-bottom: 3px;
  text-align: center;
  color: #2b3674;
  font-size: 21px;
  font-weight: 700;
}
.single-leads-apptmnts {
  color: #a3aed0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.single-lead-recmd-flx {
  display: flex;
  align-items: center;
  gap: 35px;
}

/* OVERVIEW */
.single-overview-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 524px;
  overflow-y: scroll;
}
.single-overview-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-view-nmbr {
  color: #191d31;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}
.single-eml-wdth {
  width: 47%;
}
.single-ovr-spn {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  align-items: center;
  padding: 8px 16px;
}

#single-over-phn-icn {
  color: red;
}

.single-lead-nptphn {
  text-indent: 8px;
  outline: 0;
  border: 0;
  background: #fff;
  width: 100%;
}
.single-lead-nptphn-del {
  width: 100%;
  border: 1px solid #f3f3f3;
  outline: none;
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}
.single-lead-nptphn-lnkk {
  width: 100%;
  border: 1px solid #f3f3f3;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  border-radius: 9px;
  gap: 10px;
  padding: 5px;
  align-items: center;
}
.single-lds-yetnot > p {
  margin-bottom: 0px;
}
.single-lead-nptphn-spn {
  display: flex;
  gap: 22px;
  padding-right: 16px;
}
#single-over-phn-lnkicn {
  color: red;
  font-size: 26px;
}
.single-lead-nptphn-opted {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #f3f3f3;
  padding: 8px;
  border-radius: 9px;
}
.single-lds-yetnot-opted {
  text-align: center;
  background-color: #eff1f5;
  margin-bottom: 0px;
  border-radius: 26px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.single-lead-stdyvsa {
  margin-bottom: 0px;
}
.single-lead-det-inside-date-ovr > p {
  width: 50px;
  margin-bottom: 0px;
}
.single-lead-assign-timeee {
  background-color: #ffcccc;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  width: 65px;
  text-align: center;
}
.single-lead-ovr-lsttime {
  color: #3f4254;
  font-weight: 400;
  font-size: 14px;
  padding-top: 7px;
}
.single-lead-ovr-lsttout {
  margin-bottom: 0px;
  color: #7e8299;
  font-weight: 400;
  font-size: 14px;
}
.single-lead-assign-stl-ovr {
  display: flex;
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 30px;
}

/* RIGHT */

.single-right-appt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
}
.single-right-trappt > p {
  margin-bottom: 0px;
  color: #282823;
  font-weight: 700;
  opacity: 0.7;
  font-size: 22px;
}
.your-events-btn {
  border: 2px solid #ff8686;
  color: #ff5757;
  border-radius: 20px;
  background: transparent;
  height: 52.4px;
  width: max-content;
  padding: 5.2px 20.8px;
  border-radius: 28px;
  font-weight: 640;
  font-size: 18px;
}
.single-lead-det-inside-date {
  background-color: #ffcccc;
  display: block;
  border-radius: 10px;
  text-align: center;
  padding: 15px 23px;
}
.single-lead-det-inside-date-2nd {
  background-color: #ffedac;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  width: 50px;
  text-align: center;
}
.single-lead-det-inside-date > p {
  margin-bottom: 0px;
}
.single-lead-det-inside-date-2nd > p {
  margin-bottom: 0px;
  color: #161b25;
  font-weight: 500;
}
.single-lead-right-dspflx-dte {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}
.single-lead-clock-pnd {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fceeec;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 15px;
}
.single-lead-clock-pnd > p {
  margin-bottom: 0px;
}

.single-lead-details-timestyle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-lead-details-timestyle > span > p {
  margin-bottom: 0px;
  font-weight: 500;
  color: #161b25;
}
.single-lead-design-clk {
  color: red;
}
.single-lead-design-clk-pndd {
  font-weight: 700;
  color: red;
}
.single-lead-ttle-case {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  padding-bottom: 8px;
}
.single-lead-ttle-capos {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 18px;
  color: #161b25;
}
.single-lead-ttle-catitl {
  margin-bottom: 0px;
  color: #6f7277;
  font-weight: 500;
  font-size: 18px;
}
.single-lead-tickpar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-lead-tickpar > p {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 18px;
  color: #ff5757;
  text-decoration: underline;
}
#single-delete-addd-apt {
  font-size: 25px;
  color: #a3aed0;
}

/* logs and comments */
.single-lead-logs-wrapper {
  max-height: 235px;
  overflow-y: scroll;
  padding: 0px 20px 20px 20px;
  /* scrollbar-width:thin; */
}
.single-lead-logs-wrapper-max {
  max-height: 275px;
  overflow-y: scroll;
  padding: 0px 20px 20px 20px;
  /* scrollbar-width:thin; */
}

#details-leds-log-zero {
  margin-top: 0px !important;
}
.single-leads-commt-spcee {
  display: flex;
}

.single-leads-logs-stl {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}
.single-leads-logs-line {
  border: 2px solid #3c3c3c;
  /* height: 50px; */
  border-radius: 16px;
}
.single-leads-los-title {
  display: flex;
  align-items: center;
  gap: 9px;
}
.single-leads-dot-design {
  color: #1b2559;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}
.single-leads-dot-design-update {
  color: #ff5757;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}
.single-leads-dot-design-addd {
  color: #01b574;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}
.single-leads-dot-design-delete {
  color: #ffa92c;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}
.single-leads-dot-des-time {
  color: #a3aed0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
.single-leads-dot-des-time-dtt {
  color: #a3aed0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
.single-leads-dot-design-dtt {
  color: red;
  margin-bottom: 0px;
}
.single-leads-dot-design-dtt-ad {
  color: #01b574;
  margin-bottom: 0px;
}
.single-leads-dot-design-dtt-ad-org {
  color: #ffa92c;
  margin-bottom: 0px;
}

/* comments */

.single-leads-commt-stldsg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-right: 30px;
}
.single-leads-commt-profile {
  display: flex;
  gap: 30px;
}
.single-leaad-img-stlee {
  width: 45px;
  height: 45px;
  padding: 4px;
  border-radius: 15px;
  background-color: #c9f7f5;
}
.single-leads-topauthors {
  color: #464e5f;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.single-leads-topmost-success {
  color: #b5b5c3;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0px;
}
.single-leads-commt-sath {
  width: 35px;
  height: 32px;
  border-radius: 6px;
  background-color: #f3f6f9;
  text-align: center;
}
.single-leads-commt-sath > p {
  margin-bottom: 0px;
  color: #80808f;
  font-weight: 600;
  font-size: 16px;
}
.your-events-btn-cmt {
  border: 2px solid #ff8686;
  color: #ff5757;
  border-radius: 20px;
  background: transparent;
  height: 52.4px;
  width: max-content;
  padding: 3.2px 14.8px;
  border-radius: 28px;
  font-weight: 640;
  font-size: 15px;
}

/* documents */

.single-dcmt-1stdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
  margin-bottom: 30px;
}
.single-dcmt-1stfile {
  color: #2b3674;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.single-dcmt-1stcateg {
  color: #a3aed0;
  font-weight: 500;
  font-size: 500;
  margin-bottom: 0px;
}
.single-dcmt-icnn {
  display: flex;
  gap: 30px;
}
.single-dcmt-icnn span{
  cursor: pointer;
}
#single-dcmt-edit-ics {
  font-size: 20px;
}
.your-events-btn-dcmt[data-v-d7edb2f4] {
  border: 2px solid #ff8686;
  color: #ff5757;
  border-radius: 20px;
  background: transparent;
  height: 52.4px;
  width: max-content;
  padding: 5.2px 20.8px;
  border-radius: 28px;
  font-weight: 640;
  font-size: 15px;
  float: right;
}
#whole-tab-padd {
  padding-bottom: 30px;
  margin-top: 0px !important;
}
#single-dcmt-pddrigh {
  padding-right: 5px;
}

/* Assign Tracking */

.single-lead-assign-stl {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.single-lead-assign-time-act > p {
  color: #3f4254;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}
.single-lead-assign-linestl {
  border: 2px solid #e5eaee;
  height: 50px;
  width: 2px;
  margin-bottom: 0px;
}
.single-lead-dspl-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.single-lead-assigntime-fr {
  display: flex;
  padding-left: 15px;
  gap: 20px;
  align-items: center;
}
.single-lead-assigntime-fr-over {
  display: flex;
  padding-left: 15px;
  gap: 20px;
  align-items: center;
}
.single-lead-assign-nmw > p {
  color: #464e5f;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
}
.single-lead-ass-img-size {
  width: 50px;
  height: 50px;
  border-radius: 14px;
}
.single-lead-ass-img-size img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 14px;
}
.single-lead-textctr {
  text-align: center;
}
.single-lead-assign-time {
  display: flex;
  gap: 20px;
}
.single-leads-teck-container {
  max-height: 490px;
  overflow-y: scroll;
}

/* modal delete */

.btn-close {
  float: right;
}

.event-mdl-del > p {
  color: #333333;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.modal-event-stl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
}

.modal-footer-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-top: 30px;
  padding-right: 5px;
}

.btn-btn-cancel {
  width: 146px;
  padding: 7px;
  color: #333333;
  font-size: 20px;
  border: 1.63px solid #e7e7e7;
  background-color: #fff;
  border-radius: 8px;
}

.btn-btn-dle {
  width: 160px;
  padding: 7px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #ff5757;
  border-radius: 8px;
}
.btn-btn-dle-select {
  width: 160px;
  padding: 7px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #ff5757;
  border-radius: 8px;
}
.followup-btn-btn-dle-appt{
  padding: 10px 20px;
  color: white;
  background-color: #FF5757;
  font-size: 20px;
 cursor: pointer;
  border: 1.63px solid #e7e7e7;
 width: 60%;
  border-radius: 8px;
}
.btn-btn-dle-appt {
  width: 160px;
  padding: 7px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #ff5757;
  border-radius: 8px;
}
.btn-btn-dle-cmt {
  width: 160px;
  padding: 7px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #ff5757;
  border-radius: 8px;
}

.event-mdl-par {
  padding-left: 15px;
  padding-right: 40px;
}

.event-mdl-par {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 18px;
}
.leads-form-style {
  padding-left: 25px;
  padding-right: 25px;
}
#leads-textarea-dgn {
  width: 100%;
  border-radius: 16px;
  min-height: 150px;
  border: 1px solid #d5d2dc;
  outline: none;
  padding: 10px;
}
.single-lead-cmt-mdlo {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #cbd5e1;
  padding: 11px;
  outline: none;
  margin-bottom: 30px;
}
.single-lead-cmttitls {
  color: #0f172a;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 4px;
}
.leads-label-assign-add {
  color: #0f172a;
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 10px;
}
#update-events-drpsem-add {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #cbd5e1;
  padding: 11px;
  outline: none;
  margin-bottom: 30px;
}
.view-leads-upload-modal-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: #fff0f0;
  width: 100%;
  border: 1px dashed #ff9696;
  height: 190px;
}
.view-leads-uplod-mdc-prf {
  color: #ff5757;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}

/* Recommendation */
.form-inpt-head {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 16px;
}
.form-url-frm {
  display: flex;
  gap: 20px;
}

/* .frm-url-wid {
  width: 155px;
} */
.url-form-label {
  color: #0f172a;
  font-weight: 500;
  font-size: 19px;
  padding-bottom: 9px;
}
#form-url-inpt {
  border-radius: 14px;
  border: 1px solid #cbd5e1;
  width: 100%;
  padding: 8px;
  outline: none;
  background-color: #f9fbfd;
}
.your-events-addbtn {
  text-align: center;
}
.your-events-btn-rec {
  cursor: pointer;
  border: 1px solid #ff5757;
  color: #ff5757;
  padding: 5.2px 15.8px;
  border-radius: 28.6px;
  background-color: #fff;

  font-weight: 700;
  margin-top: 22px;
}
.single-dcmt-container {
  padding: 10px;
  /* min-height: 484px; */
  max-height: 522px;
  overflow-y: scroll;
}
/* Table */

.recmd-tbl-sec {
  max-height: 425px;
  overflow-y: scroll;
  border: 1px solid #e4e4ef;
  border-radius: 8px;
}
.recmd-mrgline-rec {
  margin-inline: 30px;
}
.table-recmd-dsnn {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  min-width: max-content;
}
.thead-tbl-recmd {
  /* position: sticky; */
  top: 0px;
  z-index: 1;
  height: 4rem;
  border-bottom: 1px solid #e4e4ef;
}
tbody > tr {
  border-bottom: 1px solid #e4e4ef;
  height: 4rem;
  font-size: 15px;
}
.recmd-tbl-dtatim {
  display: flex;
  align-items: center;
  gap: 14px;
}
.red-shtvsa > p {
  margin-bottom: 0px;
  color: #1a1a1a;
  font-weight: 400;
  font-size: 14px;
}

.recmd-tbl-sttss > p {
  margin-bottom: 0px;
  background-color: #fff4e4;
  width: max-content;
  border-radius: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  color: #e99518;
}
.recmd-tbl-sttss-sts > p {
  margin-bottom: 0px;
  background-color: #ebf6eb;
  width: max-content;
  border-radius: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  color: #31aa27;
}
.recmd-tbl-sttss-fail > p {
  margin-bottom: 0px;
  background-color: #fff0f0;
  width: max-content;
  border-radius: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  color: #f93232;
}
.recmd-tbl-sttss-select > p {
  margin-bottom: 0px;
  background-color: #ebf6eb;
  width: max-content;
  border-radius: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  color: #31aa27;
}
.recmd-eye-tkk {
  display: flex;
  align-items: center;
  gap: 15px;
}
.recms-vw-bckcl {
  background-color: #f3f6f9;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.recmf-std-vistbl > p {
  margin-bottom: 0px;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

/* modal select recommendation*/

.btn-close {
  float: right;
}

.event-mdl-del-select > p {
  color: #333333;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0px;
  /* padding-top: 10px; */
}

.modal-event-stl-cnf {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.modal-footer-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.modal-footer-section-select {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-btn-cancel {
  width: 160px;
  padding: 7px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  border: 1.63px solid #e7e7e7;
  background-color: #fff;
  border-radius: 8px;
}

.btn-btn-dle {
  width: auto;
  padding: 7px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #d71414;
  border-radius: 8px;
}

.event-mdl-par {
  padding-left: 15px;
  padding-right: 40px;
}

.event-mdl-par {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 18px;
}

#scroller-leadss {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: #fff;
  box-shadow: -3.97661px 7.95322px 11.9298px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-inline: auto;
  color: #000;
  font-size: 22px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-abs-ledsaptt {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}
.single-lead-det-right-wrap {
  position: relative;
  width: -webkit-fill-available;
  background: #ffff;
  border-radius: 10px;
}
.single-max-ht-scrll {
  max-height: 350px;
  overflow-y: scroll;
  /* padding-top: 10px; */
  scrollbar-width: none;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
}

.style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f5f4f8;
  background-color: #f5f5f5;
}

.style-4::-webkit-scrollbar {
  width: 4px;
  background-color: red;
}

.style-4::-webkit-scrollbar-thumb {
  background-color: red;
  border: 2px solid #d5d2dc;
}

/* media query here  */

@media screen and (min-width: 1378px) and (max-width: 1494px) {
  .single-lead-recmd-flx {
    gap: 10px;
    flex-wrap: wrap;
  }
  .single-leads-apptmnts {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1377px) {
  .single-lead-det-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  .single-lead-det-left {
    width: 100%;
  }
  .single-lead-det-right {
    width: 100%;
  }
  .single-overview-email {
    gap: 50px;
  }
  .single-eml-wdth {
    width: 50%;
  }
  .single-lead-det-right-addapt-box {
    padding-right: 100px;
  }
  .single-leads-commt-stldsg {
    padding-right: 90px;
  }
  .btn-btn-dle {
    width: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .single-lead-det-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  .single-lead-det-left {
    width: 100%;
  }
  .single-lead-det-right {
    width: 100%;
  }
  .single-overview-email {
    row-gap: 25px;
    display: grid;
    grid-template-columns: 100%;
  }
  .single-eml-wdth {
    width: 100%;
  }
  .single-lead-det-right-addapt-box {
    padding-right: 100px;
  }
  .single-leads-commt-stldsg {
    padding-right: 90px;
  }
  .single-right-appt {
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
    row-gap: 15px;
  }
  .single-lead-det-right-addapt-box {
    padding-right: 30px;
  }
  .single-leads-commt-stldsg {
    padding-right: 30px;
  }
  .single-lead-name {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding-top: 25px;
    padding-left: 0px;
  }
  #update-events-drpsemi {
    width: 150px;
  }
  .form-inpt-head {
    display: grid;
    row-gap: 10px;
  }
  .your-events-btn-rec {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .form-url-frm {
    justify-content: center;
  }
  .single-lead-assigntime-fr {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 15px;
    gap: 20px;
    align-items: center;
  }
  .single-lead-assigntime-fr-over {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 15px;
    gap: 20px;
    align-items: center;
  }
  .single-lead-assign-stl-ovr {
    display: grid;
    justify-content: center;
    padding-right: 0px;
    row-gap: 25px;
  }
  .single-lead-assign-timeee {
    margin: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-lead-det-inside-date-ovr > p {
    width: max-content;
  }
  .single-lead-textctr {
    display: grid;
    text-align: justify;
    justify-content: center;
  }
  .single-leads-ovr-arrdgns {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
  }
  .single-lead-assign-stl {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 0px;
    justify-content: center;
    padding-right: 0px;
    row-gap: 20px;
  }
  .single-lead-assign-time {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .btn-btn-dle {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    display: flex;
    justify-content: space-between;
    row-gap: 15px;
  }
  .your-events-btn-cmt {
    height: auto;
  }
  .single-lead-det-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
  .single-lead-det-left {
    width: 100%;
  }
  .single-lead-det-right {
    width: 100%;
  }
  .single-overview-email {
    row-gap: 25px;
    display: grid;
    grid-template-columns: 100%;
  }
  .single-eml-wdth {
    width: 100%;
  }

  .single-right-appt {
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
    row-gap: 15px;
  }
  .single-lead-det-right-addapt-box {
    padding-right: 30px;
    display: grid;
    justify-content: center;
    row-gap: 20px;
  }
  .single-lead-right-dspflx-dte {
    display: grid;
    justify-content: center;
    gap: 10px;
  }
  #single-delete-addd-apt {
    display: flex;
    justify-content: center;
  }
  .single-lead-det-inside-date {
    margin: auto;
    width: auto;
  }
  .single-lead-det-inside-date-2nd {
    margin: auto;
    width: auto;
  }
  .single-leads-commt-stldsg {
    padding-right: 10px;
  }
  .single-lead-name {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding-top: 25px;
    padding-left: 0px;
  }
  #update-events-drpsemi {
    width: 150px;
  }
  .single-lead-backg-clr {
    padding-left: 10px;
    padding-right: 10px;
  }
  .single-lead-mail {
    gap: 20px;
  }
  .single-lead-inside-name {
    display: grid;
    justify-content: center;
  }
  .single-lead-recmd-flx {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 15px;
  }
  .form-inpt-head {
    display: grid;
    row-gap: 10px;
  }
  .your-events-btn-rec {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 5.2px 20.8px;
  }
  .form-url-frm {
    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
  }
  .form-url-frm {
    gap: 10px;
  }
  .frm-url-wid {
    width: 100%;
  }
  .single-lead-nptphn-opted {
    flex-wrap: wrap;
  }
  .single-lead-assigntime-fr {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 15px;
    gap: 20px;
    align-items: center;
  }
  .single-lead-assigntime-fr-over {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 15px;
    gap: 20px;
    align-items: center;
  }
  .single-lead-assign-stl-ovr {
    display: grid;
    justify-content: center;
    padding-right: 0px;
    row-gap: 25px;
  }
  .single-lead-assign-timeee {
    margin: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-lead-det-inside-date-ovr > p {
    width: max-content;
  }
  .single-lead-textctr {
    display: grid;
    text-align: justify;
    justify-content: center;
  }
  .single-leads-ovr-arrdgns {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
  }
  .single-lead-nptphn-lnkk {
    gap: 3px;
  }
  .single-lead-assign-stl {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 0px;
    justify-content: center;
    padding-right: 0px;
    row-gap: 20px;
  }
  .single-lead-assign-time {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .single-leads-los-title {
    display: grid;
    align-items: center;
    gap: 9px;
    padding-bottom: 10px;
  }
  .single-leads-dot-design-dtt {
    display: none;
  }
  .single-leads-dot-design-dtt-ad-org {
    display: none;
  }
  .single-leads-dot-design-dtt-ad[data-v-d7edb2f4] {
    display: none;
  }
  .single-leads-dot-des-time-dtt {
    display: none;
  }
  .event-mdl-del > p {
    font-size: 28px;
  }
  .btn-btn-dle {
    width: auto;
  }
}