.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0
}

.switch input:checked+.sliders {
  background-color: #56cd54
}

.sliders.round {
  border-radius: 34px
}

.sliders {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6a6a6;
  transition: .4s
}

.switch input:checked+.sliders:before {
  transform: translateX(17px)
}

.switch input:checked+.sliders:before {
  background-color: #ffff
}

.sliders.round:before {
  border-radius: 50%
}

.sliders:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 18px;
  left: 5px;
  bottom: 3px;
  background-color: #3d4859;
  transition: .4s
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: fit-content
}

.checkbox-input {
  width: 1px;
  height: 1px;
  opacity: 0
}

.checkbox-input:checked+.checkbox-check {
  background: #fff;
  stroke-dashoffset: 0;
  border-color: red;
  transition: border-color .4s, stroke-dashoffset .6s
}


/** @format */
.job-homepage-card {}

#slider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.slide {

  min-width: 391px;
  max-width: 400px;
  /* min-width:33%; */
  border-radius: 20px;
  border: 1px solid #d7dce7;
}

.home-page-job-card-back-arrow {
  color: #ff5757;
}


.job-homepage-card-first-section {
  display: flex;
  -moz-column-gap: 20px;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.job-homepage-card-first-section p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #18191C;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  border: 0 solid #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg,
      var(--color-background),
      var(--color-background));
}

#scrollableDiv {
  overflow-x: scroll;
  padding: 8px 0px 0px 0px;
}

.workoffer-job-homrc {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.scroll-btn {
  cursor: pointer;
}

.offers-container {
  width: 95%;
  /* margin: 0 auto; */
  border-radius: 20px;
}

.btn-container {
  display: flex;
  /* justify-content: space-between; */
  width: 60%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  border-bottom: 0.2px solid #bdbdbd;
}

.btn-container>span {
  cursor: pointer;
}

.btn-container>.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f5f5f5;
  padding: 6px 20px;
  border-radius: 6px;
  color: #3c3c3c;
}

.btn-container>.active::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}

.scroll-btn {
  width: 30px;
  height: 30px;
  background: linear-gradient(81.8deg,
      rgba(242, 60, 60, 0.15) 9.52%,
      rgba(242, 60, 60, 0.1) 67.4%);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2.46px 11.08px 0 #0d5ef43d;
}

.cards>img {
  width: 1000px;
}

.cards {
  width: 100%;
  min-width: 330px;
  max-width: 280px;
  width: fit-content;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 18px;
}

.tourist-cards {
  max-width: 250px;
  width: 100%;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px;
  border-radius: 16px;
}

.scroller {
  width: max-content;
  margin: 0 auto;
  display: flex;
  column-gap: 40px;
  padding-inline: 20px;
}

.rating>a {
  color: #ff5757;
  border: 0.84px solid #ff5757;
  padding: 5px 10px;
  border-radius: 10px;
}

.image-content {
  position: relative;
}

.image-content>img {
  height: 135px;
  border-radius: 18px;
  max-height: 208px;
  width: -webkit-fill-available;
}

.image-content>.text {
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: 1;
}

.text>img {
  background-color: #ffff;
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.text>h5 {
  font-size: 16px;
  color: #607d8b;
}

.text-item {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(355.84deg,
      #2c2c2c -0.18%,
      rgba(17, 28, 68, 0) 93.6%);
}

.cards>h3 {
  line-height: 40px;
  font-weight: 600;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.rating>div {
  border: 1px solid var(--inactive, #a3aed0);
  padding: 10px 20px;
  border-radius: 25px;
}

.rating-text {
  font-weight: 600;
}

.rating-percent {
  color: #a3aed0;
}

@media (max-width: 480px) {
  .cards {
    max-width: 350px;
  }
}

@media (max-width: 375px) {
  .cards {
    max-width: 314px;
  }
}

.text {
  cursor: pointer;
}

.actived {
  padding-left: 10px;
  border-radius: 10px;
  border: none;
}

.actived>h5 {
  color: #ff5757 !important;
}

.companylogo {
  height: 60px;
  width: 60px;
  border: 0.1px solid;
  object-fit: cover;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  border: 0 solid #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg,
      var(--color-background),
      var(--color-background));
}

.offers-container {
  width: 95%;
  margin: 0 auto;
}

.large-bar {
  border: 2.8px solid #d6dae0;
  height: 100%;
  width: fit-content;
}

.text {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 20px 0;
}

.text>span {
  color: var(--lighter-shade, #64748b);
  font-weight: 700;
  background: #a3aed033;
  padding: 5px 13px;
  border-radius: 5px;
}

.cards {
  /* border: 1px solid var(--inactive, #a3aed0); */
  width: -webkit-fill-available;
  border-radius: 15px;
}

.btn-grey {
  background: #a3aed033;
  padding: 7px 18px;
  border-radius: 20px;
  color: var(--lighter-shade, #64748b);
  font-weight: 700;
  font-size: 13px;
}

.cards>h5 {
  color: #131517;
  font-weight: 700;
  font-size: 25px;
}

.cards>p {
  margin: 0;
  color: #666276;
  font-size: 14px;
  padding: 10px 0;
}

.cards>h4 {
  color: var(--lighter-shade, #64748b);
  font-weight: 700;
  padding-top: 10px;
}

.break {
  border: 1.3px solid var(--inactive, #a3aed0);
  width: -webkit-fill-available;
  height: max-content;
}

.time {
  width: 100%;
  color: var(--inactive, #a3aed0);
  font-size: 13px;
  font-weight: 700;
  max-width: fit-content;
}

.logo>img {
  border-radius: 10px;
}

.details>span {
  color: #666276;
  font-size: 0.9rem !important;
}

.details>h6 {
  color: #6e7175;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.platform {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.platform>span {
  background: #f0f1f5;
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 50%;
  height: max-content;
}