/** @format */

.Admem-wrapper {
  display: flex;
}

.Admem-section1 {
  width: 50%;
  background-color: #ffffff;
}

.Admem-section1-wrapper {
  padding: 40px;
}

.Admem-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.Admem-row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
}

.Admem-row3 {
  padding-left: 100px;
  width: 440px;
  padding-top: 50px;
}

.Admem-row3 > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #201c44;
}

.Admem-row3 > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #a6a6a6;
}

.Admem-section2 {
  background-color: #f6f8fb;
  width: 50%;
}

.Admem-section2-row1 {
  padding: 40px;
}

.expolore-back-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.expolore-back-button > a > h3 {
  padding-top: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #8692a6;
}

#back-logo {
  font-size: 18px;
  color: #8692a6;
}

.Admem-section-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.Admem-section2-row1-col2 > p {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #bdbdbd;
}

.Admem-section2-row1-col2 > h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #8692a6;
}

.Admem-section2-row2 {
  display: flex;
  align-items: end;
}

/* CSS */
.slidecontainer {
  position: relative; /* Ensure the relative positioning context */
  width: 100%;
  padding-bottom: 10px;
  padding-top: 150px;
}

/* Tooltip styles */
.slidecontainer p {
  width: 67px;
  height: 61px;
  background-color: #ff5757;
  color: #ffffff;
  font-weight: 400;
  font-size: 31px;
  text-align: center;
  line-height: 37px;
  border-radius: 10px;
  padding: 8px;
  position: absolute; /* Position the tooltip absolutely within the slidecontainer */
  top: -75px; /* Adjust this value to place the tooltip above the slider */
  left: 50%; /* Start with the tooltip in the center */
  transform: translateX(-50%); /* Center the tooltip */
  transition: left 0.2s; /* Smooth transition for the tooltip movement */
}

.slidecontainer h2 {
  width: 24px;
  height: 14px;
  background-color: #ff5757;
  position: absolute; /* Position the tail absolutely within the slidecontainer */
  top: -14px; /* Adjust this value to align with the bottom of the tooltip */
  left: 50%; /* Align with the center of the tooltip */
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: black;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
  position: relative; /* Ensure the relative positioning context */
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #ffffff;
  box-shadow: 0px 5.145811557769775px 10.29162311553955px 0px #0000001a;
  border-radius: 20px;
  cursor: pointer;
  position: relative; /* Ensure the relative positioning context */
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
  position: relative; /* Ensure the relative positioning context */
}

#tooltip {
  position: absolute;
  bottom: 30%;
  transform: translateX(-50%);
}

.range-box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.range-box {
  width: 518px;
}

.slidecontainer > p {
  width: 67px;
  height: 61px;
  background-color: #ff5757;
  color: #ffffff;
  font-weight: 400;
  font-size: 31px;
  text-align: center;
  line-height: 37px;
  border-radius: 10px;
  padding: 8px;
  position: absolute;
}

.slidecontainer > h2 {
  width: 24px;
  height: 14px;
  background-color: #ff5757;
  margin-top: -16px;
  border-radius: 0 0 10px 10px;
}

.Admem-section2-row4 {
  padding-top: 40px;
}

.Admem-section2-row4 > label {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #0f172a;
  padding-bottom: 10px;
}

.Admem-custom-value {
  width: 547px;
}

.Admem-custom-value > input {
  width: 100%;
  height: 73px;
  border-radius: 10px;
  border: 1.47px solid #cbd5e1;
  background-color: #f6f8fb;
  font-weight: 400;
  font-size: 22px;
  padding-left: 20px;
  color: #64748b;
  outline: none;
}

.Admem-section2-row5 {
  padding-top: 30px;
  width: 548px;
}

.Admem-section2-row5 > button {
  width: 100%;
  height: 82px;
  border-radius: 7px;
  background-color: #ff5757;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: ease-out 0.8s;
  outline: none;
  position: relative;
  z-index: 1;
}

.Admem-section2-row5 > button:hover {
  color: red;
}

.Admem-section2-row5 > button::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #fff;
  border: 1px solid red;
  border-radius: 7px;
}
.Admem-section2-row5 > button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.Admem-section2-row6 {
  text-align: center;
  padding-top: 20px;
}

.Admem-section2-row6 > h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #3c3c3c;
}

.Admem-section2-row7 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 8px;
}

.Admem-section2-row7 > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #696f79;
  margin-bottom: 6px;
}

.Admem-section2-row7 > p > span {
  color: #ff5757;
  text-decoration: underline;
}

.Admen-section2-checkbox {
  position: relative;
}

.custom-checkbox2 {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.custom-checkbox2:checked + .checkbox-label2::before {
  /* Display custom checkmark when the checkbox is checked */
  content: '✔';
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: red;
  color: white;
  border-radius: 3px;
}

.checkbox-label2 {
  /* Add custom styles to the checkbox label */
  position: absolute;
  top: -3px;
  margin-left: -19px; /* Add space between the checkbox and label */
  font-weight: bold;
  color: #333; /* Custom color for the label */
}

.Admem-row2-col1 > p {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  margin: 0px;
  color: #1f1f1f;
}

.Admem-row2-col1 > h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 59px;
  color: #3c3c3c;
}

.Admem-row2-col1 > h2 > span {
  color: #ff5757;
}

.Admem-row2-col2 {
  margin-left: -50px;
}

.Admem-row2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.expolore-back-button > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rangeValue {
  background-color: #ff5757;
  color: #ffffff;
  padding: fffff;
  padding: 10px 25px 9px 16px; /* top right bottom left */
  border-radius: 10px;
  font-weight: 400;
  font-size: 31px;
  text-align: center;
}

@media only screen and (min-width: 1485px) and (max-width: 1600px) {
  .range-box {
    width: 460px;
  }
  .Admem-custom-value {
    width: 480px;
  }
  .Admem-section2-row5 {
    width: 482px;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1484px) {
  .range-box {
    width: 460px;
  }
  .Admem-custom-value {
    width: 480px;
  }
  .Admem-section2-row5 {
    width: 482px;
  }
  .Admem-section2-row1 {
    padding-left: 20px;
  }
  .Admem-row3 {
    padding-left: 50px;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1449px) {
  .range-box {
    width: 400px;
  }
  .Admem-custom-value {
    width: 400px;
  }
  .Admem-section2-row5 {
    width: 402px;
  }
  .Admem-section2-row1 {
    padding-left: 40px;
  }
  .Admem-row3 {
    padding-left: 20px;
    width: 380px;
  }
  .Admem-row2-col2 {
    margin-left: -50px;
  }
  .Admem-row2-col1 > h2 {
    font-size: 33px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1349px) {
  .range-box {
    width: 400px;
  }
  .Admem-custom-value {
    width: 400px;
  }
  .Admem-section2-row5 {
    width: 402px;
  }
  .Admem-section2-row1 {
    padding-left: 40px;
  }
  .Admem-row3 {
    padding-left: 30px;
    width: 380px;
  }
  .Admem-row2-col2 {
    margin-left: -50px;
  }
  .Admem-row2-col1 > h2 {
    font-size: 30px;
    line-height: 39px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
  }
  .Admem-section2-row4 {
    width: 70%;
    margin: auto;
  }
  .Admem-section2-row5 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
  }
  .Admem-section2-row4 {
    width: 64%;
    margin: auto;
  }
  .Admem-section2-row5 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 90%;
    margin: auto;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section2-row5 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 400px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 30px;
  }
  .Admem-custom-value {
    width: 425px;
  }
  .Admem-section2-row5 {
    width: 425px;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
  }
  .Admem-row2-col2 {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 515px) and (max-width: 559px) {
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 400px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 0px;
  }
  .Admem-custom-value {
    width: 400px;
  }
  .Admem-section2-row5 {
    width: 400px;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
  }
  .Admem-row2-col2 {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 476px) and (max-width: 514px) {
  .Admem-section2-row1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 380px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 0px;
  }
  .Admem-custom-value {
    width: 380px;
    margin: auto;
  }
  .Admem-section2-row5 {
    width: 380px;
    margin: auto;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
  }
  .Admem-row2-col2 {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 475px) {
  .Admem-section2-row1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 320px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .Admem-custom-value {
    width: 340px;
    margin: auto;
  }
  .Admem-section2-row5 {
    width: 340px;
    margin: auto;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
  }
  .Admem-row2-col2 {
    margin-left: -80px;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
    line-height: 39px;
  }

  .rangeValue {
    background-color: #ff5757;
    color: #ffffff;
    padding: fffff;
    padding: 0px 6px 6px 4px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 419px) {
  .Admem-section2-row1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 300px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .Admem-custom-value {
    width: 300px;
    margin: auto;
  }
  .Admem-section2-row5 {
    width: 300px;
    margin: auto;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
  }
  .Admem-row2-col2 {
    margin-left: -110px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
    line-height: 39px;
  }
  .rangeValue {
    background-color: #ff5757;
    color: #ffffff;
    padding: fffff;
    padding: 0px 6px 6px 4px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 389px) {
  .Admem-section2-row1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 250px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .Admem-custom-value {
    width: 250px;
    margin: auto;
  }
  .Admem-section2-row5 {
    width: 250px;
    margin: auto;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
    line-height: 39px;
  }
  .Admem-row2-col2 {
    margin-left: -139px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
  }
  .Admem-custom-value > input {
    padding-left: 12px;
    font-size: 20px;
  }
  .slidecontainer {
    padding-top: 90px;
  }
  .Admem-section2-row4 > label {
    padding-left: 20px;
  }
  .rangeValue {
    background-color: #ff5757;
    color: #ffffff;
    padding: fffff;
    padding: 0px 6px 6px 4px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 349px) {
  .Admem-section2-row1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Admem-section1 {
    display: none;
  }
  .Admem-section2 {
    width: 100%;
  }
  .Admem-section2-row2 {
    justify-content: center;
  }
  .range-box {
    margin: auto;
    width: 220px;
  }
  .Admem-section2-row4 {
    margin: auto;
  }
  .Admem-section-wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .Admem-custom-value {
    width: 220px;
    margin: auto;
  }
  .Admem-section2-row5 {
    width: 220px;
    margin: auto;
  }
  .Admem-row2-col1 > h2 {
    font-size: 25px;
    line-height: 39px;
  }
  .Admem-row2-col2 {
    display: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
  }
  .Admem-custom-value > input {
    padding-left: 25px;
    font-size: 16px;
  }
  .slidecontainer {
    padding-top: 90px;
  }
  .Admem-section2-row4 > label {
    padding-left: 20px;
  }
  .rangeValue {
    padding: 0px 6px 6px 4px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
  }
}
