  .m-container {
    background-color: #ffffff;
    padding: 21px 29px 40px;
    border-radius: 16px;
    height: 500px;
    box-shadow: 7.83px 7.83px 19.58px 0px #00000014;
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    background-color: #F4F7FE;
    ;
    border-radius: 45px;
    padding: 0.25rem 1.6rem;
    width: 100%;
    max-width: 390px;

  }
      .add-agg {
background: linear-gradient(135deg, #FF8686 0%, #FF2618 100%);
    color: white;
    border: 1px solid #ff5757;
    padding: 5px 18px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    line-height: 37px;

  }
  
  .add-agg:hover {
    background: #ffffff;
    color: #ff5757;
  }
.your-events-btn-rec{
  background-color: #ff5757;
color: #ffffff;
}
  .search-icon i {
    color: #151515;
    font-size: 1.2rem;
    margin-right: 0.75rem;
  }

  .search-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    width: 100%;
    color: #8F9BBA;
  }


  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    gap: 32px;
  }

  .f-card {
    background: white;
    border-radius: 27px;
    box-shadow: 0px 5.33px 82.59px 0px #99ABC62E;
    border: 1.33px solid #D7DCE4;
    padding: 24px 26px;
  }

  .card-header {
    align-items: flex-start;
  }

  .card-header h3 {
    margin: 0 0 0.4rem;
    font-size: 22px;
    color: #150A33;
    font-weight: 700;
  }

  .card-header p {
    margin: 0;
    font-size: 17px;
    color: #524B6B;
    font-weight: 600;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: #524B6B;
    font-size: 17px;
    font-weight: 400;
  }

  .user-info .icon i {
    margin-right: 0.5rem;
    color: var(--lighter-shade, #64748B);
    font-size: 21px;
  }

  .date-tag {
    background-color: #FF57571A;
    color: #F22C15;
    padding: 11px 22px;
    border-radius: 133px;
    font-size: 12px;
    font-weight: 700;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
  }

  .badge {
    padding: 6px 14px;
    border-radius: 120px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .badge.waiting {
    color: #ffffff;
    background-color: #ff5757;
  }

  .badge.submitted {
    background-color: #EBF6EB;
    color: #31AA27;
  }

  .badge.visa {
    background-color: #5D6B981A;
    color: #5D6B98;
  }

  .actions {
    display: flex;
    gap: 0.7rem;
  }

  .icon-btn {
    background: #F3F6F9;
    border: none;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;

  }

  .icon-btn i {
    color: #5D6B98;
    font-size: 16px;
  }

  .pagination {
    display: flex;
    justify-content: left;
    margin-top: 5rem;
    gap: 0.5rem;
    align-items: center;

  }

  .arrow i {
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .page,
  .arrow i {
    padding: 0.1rem 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    font-size: 21px;
    font-weight: 400;
    color: #454056;
  }

  .page.active {
    background: linear-gradient(135deg, #FF8686 0%, #FF2618 100%);
    color: white;
    font-weight: 600;
  }

  @media (max-width: 500px) {
    .m-container {
      padding: 29px 19px;
    }

    .search-wrapper {
      padding: 0rem 1.2rem;
      max-width: 330px;
    }

    input {
      padding: 0.75rem !important;
    }

    .card-header {
      flex-direction: column;
      gap: 10px;
    }

    .card-grid {
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      gap: 21px;
    }

    .f-card {
      padding: 24px 15px;
    }

    .pagination {
      margin-top: 3rem;
    }

    .page,
    .arrow i {
      padding: 0.09rem 0.7rem;
      font-size: 18px;
    }
  }

  @media (max-width: 385px) {
    .card-grid {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)) !important;
    }

    .m-container {
      padding: 29px 14px !important;
    }

    .card-header h3 {
      margin: 0 0 0.2rem;
      font-size: 20px;
      font-weight: 600;
    }

    .card-header p {
      font-size: 16px;
    }

    .date-tag {
      padding: 7px 14px;
      font-weight: 600;
    }

    .card-footer {
      margin-top: 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }}
      @media (max-width: 700px) {
        .top-agree-section{
          flex-wrap: wrap;
          gap:20px;
        }
  }