.container-privacy-policy-section{
    margin-left: 8% ;
    margin-right: 8%;
    margin-top:47px ;
    margin-bottom:40px ;
  }
 
  .container-privacy-policy-heading{
      font-size: 42px;
      font-weight: 700;
      line-height: 54px;
      color: #1f1b2d;
      text-align: left;
      margin-bottom: 20px;
  }
 
  .services{
    font-size: 26px;
      font-weight: 700;
margin-bottom:15px;
  }

  .container-privacy-policy-content div{
    margin-bottom: 20px;
  }

  .container-privacy-policy-content div h2{
     font-size: 26px;
      font-weight: 700;
      line-height: 39px;
      color:#1f1b2d;
      margin-bottom:10px;
      text-align:justify;

  }
  .container-privacy-policy-content div h5{
    font-size: 22px;
     font-weight: 400;
     line-height: 39px;
     color:#1f1b2d;
     margin-bottom:10px;
     text-align:justify;

 }
  .container-privacy-policy-content div p{
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #666276;
    text-align: justify;

 }
 .container-privacy-policy-content div ul li{
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #666276;
    text-align: justify;

 }
 .container-privacy-policy-content div ul {
    list-style: disc; /* Ensures bullets appear */
    padding-left: 20px; /* Adds space for bullets */
}

@media screen and (max-width: 425px) {
  .container-privacy-policy-content div h2{
    font-size: 24px !important;
     font-weight: 600 !important;
     line-height: 32px !important;
     margin-bottom:6px;
     text-align:left;
 }
 .services{
  font-size: 24px;
    font-weight: 600;
margin-bottom:7px;
}
 .container-privacy-policy-heading{
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 34px !important;
  margin-bottom: 10px;
}
 .container-privacy-policy-content div h5{
   font-size: 22px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom:6px;
    text-align:left;

}
 .container-privacy-policy-content div p{
   font-size: 18px !important;
   line-height: 26px !important;
   text-align: left;
}
.container-privacy-policy-heading-first{
margin-bottom: 15px !important;
}
.container-privacy-policy-content div ul li{
   font-size: 18px !important;
   line-height: 26px !important;
   text-align: left;
}}