.a-container {
    background-color: #ffffff;
    padding: 46px 38px 90px 38px;
    border-radius: 16px;
   box-shadow: 8.16px 8.16px 20.41px 0px #00000014;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
 
  .search-wrapper {
    display: flex;
    align-items: center;
    background-color:  #F4F7FE;;
    border-radius: 45px;
    padding: 2px 19px;
    width: 330px;
    min-width: 300px;
  }
  
  .search-icon i{
    color:  #2B3674;
    font-size: 12px;
    margin-right: 0.3rem;
  }
  
  .search-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    color: #8F9BBA;
  }
  
  .tabs .tab {
    background: #f5f4f8;
    border: none;
    color: #454056;
 font-weight: 400;
    font-size: 17px;
    padding: 10px 19px;
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
min-width: fit-content;
display: inline;
  }
  .dropdown-item{
    padding: 8px 18px;
    background: #bbb8b814;
    border: none;
    width: 200px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: #282823;
    font-weight: 400;
    line-height: 150%;
  }
   .dropdown-item:hover{
   color: #ff5757;
  }

  
  .tabs .tab.active {
    background: #ffffff;
    color: #ff5757;
    box-shadow: 0px 4px 12px 0px #1F1B2D14;
  }
  .no-appointment{
    width: 100%;
    height: 400px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards {
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px;
  }

  .shortlist-btn {
background: linear-gradient(135deg, #FF8686 0%, #FF2618 100%);
    color: white;
    border: 1px solid #ff5757;
    padding: 5px 18px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    line-height: 37px;

  }
  
  .shortlist-btn:hover {
    background: #ffffff;
    color: #ff5757;
  }
  .appointment-card {
  background: white;
  border-radius: 19px;
box-shadow: 0px 6.02px 24.14px 0px #36363614;
  padding: 26px 24px ;
}

.date-section {
  background-color:#FFDBDB;
  padding: 9px 15px;
  border-radius: 8px;
  text-align: center;
}

.date {
  font-size:38px;
  line-height: 120%;
  font-weight: bold;
  color: #ff5757;
}

.month-year {
  font-size: 11px;
  color: #1E1E1E;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.details h3 {
  margin: 0;
  font-size:24px;
  line-height: 38px;
  color:#101010;
  font-weight: 600;
}

.counselor {
  font-size:18px;
  line-height: 28px;
  font-weight: 500;
  color:#B5B5C3;
}

.appointment-header{
    padding-bottom: 21px;
    border-bottom: 1.5px solid #3a3a3c42;
}
.description {
  font-size: 17px;
  font-weight: 500;
  padding:  20px 0;
  line-height: 28px;
  color: #89898B;
  border-bottom: 1.5px solid #3a3a3c42;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  padding: 4px 13px;
  border-radius: 100px;
  font-size:14px;
  line-height: 26px;
  cursor: pointer;
  font-weight: 400;
}

.reschedule {
  background-color: #008CE41A;
  color: #008CE4;
}

.accept {
  background-color: #ff5757;
  color: #ffffff;
}

.status {
  padding: 4px 15px;
  border-radius: 999px;
   font-size:14px;
  line-height: 26px;
  cursor: pointer;
  font-weight: 700;
}

.cancelled {
  background-color: #FF57571A;
  color: #ff5757;
}

.onsite {
  background-color: #64748B;
  color: #ffffff;
}

.completed {
  background-color: #EBF6EB;
  color: #31AA27;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr; /* Stack cards on smaller screens */
  }
}

/* Sidebar */

  .comments-section {
 padding: 3px;
}

.comments-header {
  display: flex;
  align-items: center;
justify-content: space-between;
  margin-bottom: 60px;
}

.comments-header h2 {
  font-size: 27px;
  font-weight: 700;
color:#1F1B2D;
margin: 0;
}

 .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }
  
  .input-group label,
  .input-gp label,
  label {
    margin-bottom: 8px;
    font-size: 20px;
    color: #0F172A;
    font-weight: 500;
    line-height: 150%;
  }
  
  .input-group input,
  .upload-box, .upload-box-1,
  .brochure_upload-box,
  .input-group textarea {
    padding: 1.25rem 3.5rem 1.25rem 1.5rem;
    border: 1.53px solid #CBD5E1;
    border-radius: 16px;
    background-color: #F1F5F966;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }
    .input-group input::placeholder {
    color: #64748B;
    line-height: 150%;
    font-weight: 400;
    font-size: 17px;

  }
    .select-option {
    padding: 0.4rem 1.5rem 0.4rem 0.8rem;
   border: 1.53px solid #CBD5E1;
    border-radius: 10px;
    background-color: #F1F5F966;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
  
  }
    .custom-select {
    border: none !important;
    outline: none !important;
        color: #64748B;
         line-height: 150%;
    font-weight: 400;
    font-size: 17px;

  }

  select {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
  }
    .input-group p {
margin-bottom: 0px;
    font-size: 20px;
    color: #222b45;
    font-weight: 500;
    line-height: 150%;
  }
  .month-header i{
color:#222B45;
  }

.date-1 {
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.4px;
      line-height: 160%;
    }

    .day-1  {
      font-size:15px;
      font-weight: 500;
      line-height: 120%;
    }

    .time-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top:24px;
}

.time-slot {
  padding:13px  16px ;
border: 1.16px solid #6B779A1A;
  border-radius: 12px;
  background-color: white;
  color: #6B779A;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.time-slot:hover {
  background-color: #f0f0f0;
}

.time-slot.selected {
  background-color: #ff5757;
  color: white;
  border-color: transparent;
}
.footer-text{
    color:#6B7280;
    font-size: 16px;
text-align: center;
}
.schedule-appnt{
    margin: 10px 0 21px;
    font-weight: 700;
    font-size: 21px;
    background-color: #ff5757;
    color: #ffffff;
    padding: 18px 41px;
    border-radius: 11px;
    width: 100%;
}
@media (max-width: 1071px) {
  .shortlist-btn{
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .a-container{
    padding: 30px 18px;
  }
  .appointment-card{
    padding: 26px 19px;
  }
    .p-carousel .p-carousel-item {
        flex: 1 0 10%;
    }
     .time-grid {
    grid-template-columns: repeat(2, 1fr) !important;
}
    .comments-header h2 {
    font-size: 22px;
    font-weight: 600;
}
.comments-header{
    margin-bottom: 30px;
}
.input-group input {
    padding: 1rem 2.5rem 1rem 1rem !important;
}
.select-option {
    padding: 0.1rem 1rem 0.1rem 0.8rem;
}
.p-sidebar {
    padding: 4px !important;
}
.comments-section{
  padding: 0px;
}
}
@media (max-width: 790px) {
  .search-wrapper{
   width: 220px;
  }
}
@media (max-width: 767px) {
  .top-bar{
    justify-content: center;
    gap: 15px;
  }
  .time-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}
}
@media (max-width: 420px) {
.shortlist-btn {
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 13px;
}
.schedule-appnt {
    margin: 0px 0 21px;
    font-weight: 600;
    font-size: 18px;
    padding: 18px 21px;
}
.search-wrapper {
    padding: 0px 12px;
}
.details h3 {
    font-size: 20px;
    line-height: 30px;
}
.date {
    font-size: 34px;
}
.counselor {
    font-size: 15px;
    line-height: 24px;
}
.appointment-header {
    padding-bottom: 15px;
}
.description {
    font-size: 16px;
    padding: 15px 0;
    line-height: 24px;
}
}
