/** @format */
.doc-card{
  border-radius: 0px !important;
  border-bottom: 2px solid #d7d6e5;
}
img {
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.tooltip-gallery-cont-ach {
  position: absolute;
  top: 10px;
  right: 50px;
}

.icon1-awrddel-im{
  position: absolute;
    top: 6px;
    right: 22px;
    background-color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
}
.icon1-awrddel-im:hover {
  background: #ff6c68;
  color: #ffff;
  transition: 0.3s;
  transform: scale(1.1);
}
.award-add-mdl-stl img{
  height: 23px;
}
.action_btn {
  background-color: white;
  border-radius: 50px;
  color: #454056;
  width: 33px;
  float: right;
  margin: 20px;
}
.action_btn i {
  position: relative;
  top: 2px;
  right: 2px;
}

.dropdown-menu i {
  position: relative;
  top: 3px;
  right: 2px;
  font-size: 18px;
}

.primary {
  color: #ff5757;
}

.name span {
  font-size: 13px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title > h4 {
  font-weight: 700;
  font-size: 20px;
}

.card-title > .add-btn {
  background: linear-gradient(135deg, #ff8686 0%, #ff2618 100%);
  padding: 8px 25px;
  border:1px solid #ff5757;
  border-radius: 25px;
  color: #ffff;
  cursor: pointer;
}

.cards {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 14px 14px 57px #e6e6e6, -14px -14px 57px #ffffff;
  padding: 25px;
  /* margin: 25px 0px; */
}
.award-description-input-field .ql-toolbar{
  border-radius: 10px 10px 0px 0px !important;
}
.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  /* justify-content: center; */
}

.card-col {
  box-shadow: 0px 5.008028984069824px 77.62445068359375px 0px #99abc62e;
  width: 285px;
  height: 100px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: space-evenly;
  /* padding-inline: 25px; */
  border-radius: 10px;
}
.card-col h6{ 
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  color:#3c3c3c;
}
.document-name-view{
  display: flex;
  gap: 20px;
}
.edit_btn {
  height: 35px;
  display: flex;
  align-items: center;
  width: 75px;
  justify-content: center;
  border-radius: 50px;
  background: #ffffff;
  /* box-shadow: 8px 8px 16px #c9c9c9, -8px -8px 16px #ffffff; */
  box-shadow: 0px 3.16px 9.48px 0px #1f1b2d45;;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

/* .input-field {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
} */

/* .input-field > label {
  font-size: 17px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
} */

/* .input-field > input {
  border: 1.53px solid #cbd5e1;
  height: 60px;
  border-radius: 8px;
  outline: none;
  padding-inline: 20px;
} */

.cards > span {
  color: #ff5757;
  font-weight: 400;
  padding-inline: 20px;
}

.cards > h4 {
  color: #454056;
  font-weight: 700;
  padding: 10px 0px 20px 20px;
}

.cards > img {
  margin-bottom: 15px;
  width: -webkit-fill-available;
}
.edit_btn img{
  height: 15px;
}

/** @format */

.upload-image-box {
  /* max-width: 1150px; */
  /* width: 100%; */
  background-color: #fff;
  padding: 10px 20px;
  /* max-height: 550px; */
  /* height: 100%; */
  border: 0;
  border-radius: 15px;
}

.upload-video {
  max-height: 665px !important;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.upload-top-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.upload-top-bar > .upload-text {
  font-size: 25px;
  font-weight: 700;
  color: #1f1b2d;
}

.image-upload-container {
  position: relative;
  width: inherit;
  height: min-content;
}

#upload-container {
  width: inherit;
  margin: 15px 0px;
}

#upload-video-container {
  width: inherit;
  margin: 25px 0px;
}

.image-upload-container > .upload-icon {
  position: absolute;
  left: 88px;
  top: 60px;
  width: 100%;
  max-width: min-content;
}

.image-upload-container > .upload-icon {
  position: absolute;
  left: 88px;
  top: 60px;
  width: 100%;
  max-width: min-content;
}

.image-upload-container > .upload-video-icon {
  position: absolute;
  left: 140px;
  top: 60px;
  width: 100%;
  max-width: min-content;
}

.button-container {
  display: flex;
  justify-content: start;
  column-gap: 28px;
  row-gap: 15px;
}

.button-container > #back-btn {
  padding: 12px 40px;
  background: #ffff;
  border-radius: 30px;
  border: 1px solid #ff2618;
  font-size: 20px;
  font-weight: 500;
  color: #ff5757;
  text-align: center;
  cursor: pointer;
}
.add-btn i{
  font-size: 1.15rem;
}

.button-container > #upload-btn {
  padding: 12px 40px;
  background: #ff5757;
  border-radius: 30px;
  border: 1.63px solid #e7e7e7;
  font-size: 19px;
  font-weight: 500;
  color: #ffff;
}
.upload-image-box > p {
  text-align: center;
  color: #a3aed0;
  
}

.input-field {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-field > label {
  font-size: 17px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.input-field > input, .input-field > textarea {
  border: 1.53px solid #cbd5e1;
  height: 60px;
  border-radius: 8px;
  outline: none;
  padding-inline: 20px;
}
/* .input-field > textarea {
  border: 1.53px solid #cbd5e1;
  height: 60px;
  border-radius: 8px;
  outline: none;
  padding-inline: 20px;
} */

.Picture {
  border: 1px dotted;
  width: 100%;
  max-width: 275px;
  height: 275px;
  background-color: #f9f8fa;
  background-image: url('data:image/svg+xml,%3csvg width=%27100%25%27 height=%27100%25%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3crect width=%27100%25%27 height=%27100%25%27 fill=%27none%27 rx=%2713%27 ry=%2713%27 stroke=%27%23D5D2DCFF%27 stroke-width=%273%27 stroke-dasharray=%276%2c 14%27 stroke-dashoffset=%278%27 stroke-linecap=%27square%27/%3e%3c/svg%3e');
  border-radius: 13px;
  cursor: pointer;
}
.oploaded-imagee{
  width: 100%;
  max-width: 275px;
  min-height: 275px;
  cursor: pointer;
}
.oploaded-imagee img{
  width: 100%;

}
.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 85px 10px;
  position: relative;
  width: inherit;
  height: 275px;
}

.icon-box > .profile-image {
  width: 100%;
  height: 275px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  max-width: inherit;
}

.icon-box > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 275px;
  opacity: 0;
}

.icon-box > h5 {
  color: #454056;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  width: fit-content;
}
.business-profile-afteraward-ims{
  width: 400px;
height: 280px;
}
.business-profile-afteraward-ims img{
  width: 100%;
  object-fit: contain;

}



/* media query here */
@media (max-width: 991px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .button-container > #back-btn {
    .button-container > #back-btn {
      padding: 10px 40px;
    }
    #addcmp-dtls-brk{
      display: grid;
      justify-content: center;
      row-gap: 20px;
  
    }
  }

  .button-container > #upload-btn {
    padding: 10px 40px;
  }

  .card-title h4{
    font-size: 19px;
  }
  .card-title > .add-btn{
    padding: 4px 10px;
  }
}

@media (max-width: 375px) {
  .upload-image-box {
    padding: 0;
  }

  .button-container > #back-btn {
    font-size: 18px;
    padding: 10px 30px;
  }

  .button-container > #upload-btn {
    font-size: 18px;
    padding: 10px 30px;
  }
}

.image-input-placeholder {
  background-image: url('/img/png/blank-image.png');
}

.icon_cropper-container {
  max-width: 100%;
  max-height: 80vh;
}

.icon_cropper-modal {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.cropped-image-container {
  margin-top: 20px;
}



.awards-cardwidth{
  border: none;
  box-shadow: 0px 5.008028984069824px 77.62445068359375px 0px #99abc62e
}
