/** @format */

.tab-navigation {
    width: -webkit-fill-available;
    height: 60px;
    background: #ffff;
    border-radius: 14px;
    padding: 15px 30px;
    display: flex;
    overflow: auto;
    position: relative;
    column-gap: 55px;
}

.tab-navigation > span {
    width: 100%;
    max-width: max-content;
    min-width: fit-content;
    color: #a1a5b7;
    cursor: pointer;
}

.horizontal-bar-lead {
    position: absolute;
    width: 75px;
    height: 3px;
    background: #ff5757;
    bottom: 0;
}

.horizontal-bar-user {
    position: absolute;
    width: 75px;
    height: 3px;
    background: #ff5757;
    bottom: 0;
    left: 300px;
}

.horizontal-bar-customer {
    position: absolute;
    width: 75px;
    height: 3px;
    background: #ff5757;
    bottom: 0;
    left: 535px;
}

.isbuttonTrue {
     color: #ff5757 !important;
    font-weight: 600;
     padding-bottom:19px;
    border-bottom: 3px solid #ff5757;
}

.tab-content {
    box-shadow: 7.831155300140381px 7.831155300140381px 19.5778865814209px
    rgba(0, 0, 0, 0.08);
    border-radius: 15.66px;
    width: -webkit-fill-available;
    height: 70vh;
    margin-top: 20px;
    background: #ffff;
    overflow: auto;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211f1fc4;
    z-index: 1003;
}
