.languages {
  width: 100%;
  max-width: -webkit-fill-available;
  background: #ffff;
  box-shadow: 0 10.759952545166016px 166.7792510986328px rgba(153.16, 170.95, 197.62, .18);
  border-radius: 26.9px;
  margin: 30px 0;
  padding: 45px 35px 35px 35px;
}

.flex-container {
  display: flex;
  column-gap: 20px;
  padding-inline: 30px
}

.languages>p {
  color: #3c3c3c;
  font-size: 22.86px;
  font-weight: 400;
  line-height: 34.75px;
  word-wrap: break-word;
  padding-inline: 30px;
  opacity: .5
}

.btn-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#languages-heading {
  color: #404040;
  font-size: 25.38px;
  font-weight: 700;
  line-height: 2.6vw;
  word-wrap: break-word
}

.break-line {
  width: -webkit-fill-available;
  height: 2px;
  background: #000;
  opacity: .1;
  margin: 10px 0px 30px 0px
}

@media (max-width:1400px) {
  .languages>p {
    font-size: 1.7vw
  }
}

@media (max-width:1280px) {
  .languages>p {
    font-size: 1.8vw
  }
}

@media (max-width:1024px) {
  .languages>p {
    font-size: 2.1vw
  }
}

@media (max-width:850px) {
  .languages>p {
    font-size: 2.4vw
  }
}

@media (max-width:767px) {
  .languages {
    margin: 15px;
    padding: 15px 0 15px 0
  }

  .btn-container {
    padding: 15px
  }

  .flex-container {
    flex-direction: column;
    row-gap: 30px;
    align-items: center
  }

  .languages>p {
    font-size: 2.6vw
  }
}

@media (max-width:676px) {
  .languages>p {
    font-size: 2.8vw;
    line-height: 4.8vw
  }
}

@media (max-width:580px) {
  .languages>p {
    font-size: 3vw
  }
}

@media (max-width:520px) {
  .languages>p {
    font-size: 3.5vw
  }
}

@media (max-width:460px) {
  .languages>p {
    font-size: 4vw
  }
}

@media (max-width:425px) {
  .flex-container {
    padding-inline: 10px
  }

  #languages-heading {
    font-size: 5vw
  }

  .languages>p {
    font-size: 4.5vw
  }

  .break-line {
    margin: 10px
  }
}