.appointment-wrapper {
    border: none;
    border-radius: 15px;
}

.card-header {
    border: none;
    background-color: #fff;
}

.searchicon>input {
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
 .search-wrapper {
    display: flex;
    align-items: center;
    background-color:  #F4F7FE;;
    border-radius: 45px;
    padding: 2px 19px;
    width: 100%;
    max-width: 270px;

  }
  .upload-card {
  background: #F5F4F8;
  box-shadow: 0px 5.98px 17.95px 0px #1F1B2D14;
  box-shadow: 0px 2.99px 2.99px -2.99px #1F1B2D14;
  border-radius: 18px;
  padding: 12px 4px;
  border: 1.5px solid #EFECF3;
  z-index: 999;
  width: 255px;
}

.upload-option {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 6px 10px;
  margin-bottom: 4px;
  color: #4c5361;
  font-size: 16px;
  font-weight: 400;
  color:#454056;
  cursor: pointer;
}
.upload-option:hover, .dropdown-item:hover  {
  background-color: #e9e8ec;
}
.upload-option:last-child {
  margin-bottom: 0;
}
.add-button {
    border: 1px solid #ff5757;
    background: #ff5757;
    color: #ffffff;
    padding: 10px 19px;
    border-radius: 117px;
    font-weight: 700;
    cursor: pointer;
    line-height: 150%;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-button:hover{
      background: #ffffff;
    color: #ff5757;
}
.icon i {
  font-size: 18px;
  color: var(--lighter-shade, #64748B);
  ;
}

.search-icon i{
    color:  #2B3674;
    font-size: 12px;
    margin-right: 0.3rem;
  }
  
  .search-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    color: #8F9BBA;
  }
.datefilter>input {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap:20px;
  }

.filterbtn {
    margin: 15px 10px 0px 50px;
}

 
/* .drp {
    border-radius: 50px;
    margin: 7px 10px 0px 0px;
    background: linear-gradient(135deg, #FF8686 0%, #FF2618 100%);
}
.drp:hover {
    border-radius: 50px;
    margin: 7px 10px 0px 0px;
    background: #fff;
    color: #ff5757;
} */

.p-datatable-wrapper {
    border-radius: 1px solid grey !important;
}

.appointmentdiv {
    background-color: #ffff;
    /* border: 1px solid rgb(225, 225, 225); */
    border-radius: 10px;
}

.action{
    background-color: #fff;
    color: #A5A5A5;
    border: none;
    cursor: pointer;
}

.action:hover{
    background-color: #ff5757;
    color: #ffff;
    border: none;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #ff5757;
    border-radius: 10px;
    color: white;    
    transition: 0s;
    cursor: pointer;
}

.gear{
    height: 25px;
    width: 30px !important;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    transition: 0.2s;
    padding: 0px 0px 30px 5px;    font-size: 20px;
}
/* 
.gear:hover{
    height: 25px;
    width: 30px !important;
    background-color: #ff5757;
    border-radius: 100px;
    color: white;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    transition: 0.2s;
    padding: 0px 0px 30px 5px;
    margin: 13px 20px 0px 0px;
    font-size: 20px;
} */

.rescheduled{
    color: #008CE4;
    background: #008CE41A;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.rescheduled-requested{
    color: #6750A3;
    background: #6750A31A;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.home-appointment{
    color: #6750A3;
    background: #6750A31A;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.upcoming{
    color: #fff;
    background: #ff5757;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.completed,.live{
    color: #31AA27;
    background: #EBF6EB;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.new{
    color: #fff;
    background: #008CE4;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.cancelled{
    color: #FF5757;
    background: #FF57571A;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.expired{
    color: #64748B;
    background: #64748B1A;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    cursor:pointer;
    text-transform: capitalize;
}

.cancelled:hover,.upcoming:hover ,.rescheduled-requested:hover,.home-appointment:hover{
    filter: invert(100%) hue-rotate(180deg);
}