.pagination-container {
  display: flex;
  align-items: center;
  z-index: 100;
  gap: 10px;
  font-weight: 500;
  color: #333;
}

.btn-btn-dle-appt,
.followup-btn-btn-dle-appt,
.btn-btn-dle-appt,
.submit-btn {
  background-color: #ff5757;
  color: #ffffff;
}
.lead-actions{
  flex-direction: column;
}
.followup-btn-btn-cancel {
  border: 1px solid #666565;
}

.lead-top-section {
  margin: 0 10px 15px;
}

.pagination-container span {
  color: #454056;
}

.edit-section {
  color: #676B6C;
  font-size: 16px;
}

.lead-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #D9D9D9;
  padding: 23.5px 21px 0px;
}

.lead-header {
  gap: 1rem;
}

.image-gap {
  gap: 0.6rem;
}

.lead-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 22px;
}

.lead-avatar img {
  width: 98px;
  height: 98px;
}

.lead-info {
  min-width: 160px;
}

.lead-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #202226;
}

.lead-meta {
  font-size: 14px;
  color: #807C8D;
  font-weight: 400;
}

.lead-meta-date {
  color: #0D062D;
  font-weight: 700;
  font-size: 15px;
}

.lead-id {
  font-size: 13.5px;
  color: #807C8D;
  font-weight: 400;
  margin-top: 2px;
}

.bar {
  border: 1px solid #EDEDED;
  height: 80px;
}

.lead-details {
  flex-direction: column;
  gap: 7px;
  border-left: 1px solid #EDEDED;
  padding-left: 1.5rem;
}

.lead-detail span {
  font-size: 17px;
  color: var(--lighter-shade, #64748B);
  line-height: 15px;
  font-weight: 500;
  letter-spacing: -2%;
}

/* .lead-detail{
    min-width: 190px;
} */

.select-option {
  padding: 4px 18px 4px 2px;
  border: 1px solid #EDEDED;
}

.custom-select,
.custom-select-1 {
  border: none !important;
  outline: none !important;
}

.custom-select-1 {
  padding: 0px;
}

.lead-option {
  color: var(--Gray, #838383);
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
}

.lead-actions {
  min-width: 250px;
}

select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

.lead-detail p {
  line-height: 20px;
  color: #0E0E0F;
  font-size: 17px;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 0px;
}

.duplicate-lead {
  background: #FF57570F;
  color: #3C3C3C;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 4px;
  margin-top: 5px;
  /* width: 100%; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.tooltip-box, .tooltip-box-follow {
  background-color: #333;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  max-width: 500px;
  font-size: 16px;
  position: fixed;
  line-height: 1.5;
  z-index: 1000;
 
}
.tooltip-box-follow{
   bottom: 95px;
  left: 48%;
  transform: translateX(-50%);

}

/* Tooltip arrow */
.tooltip-box::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
.tooltip-box-follow::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 20px;
  border-width: 5px;
  border-style: solid;
  border-color:#333 transparent transparent  transparent;
}

/* Optional style for date */
.highlight {
  font-weight: bold;
}

.custom-icon {
  font-size: 23px;
}

.lead-option {
  border: 1px solid #EDEDED;
}

.button-group {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.btn {
  padding: 9px 18px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1%;
  line-height: 190%;
}


.add-icon i {
  color: #3c3c3c;
  width: 14px;
  height: 14px;
}

.horizontal-bar {
  border: 1px solid #EFF2F5;
}

.follow-up {
  background-color: #3C3C3C1A;
  box-shadow: 0px 1.45px 2.9px 0px #FFFFFF1F inset;
  color: #3C3C3C;
  border: 2px solid #3C3C3C1A;
}

.follow-up:hover {
  border: 2px solid #3C3C3C1A;
  box-shadow: 0px 1.45px 2.9px 0px #FFFFFF1F inset;
  color: #3C3C3C;
}

.call-cta {
  background-color: #ff5757;
  color: white;
  border: 1px solid #ff5757;
}

.call-cta i {
  width: 14px;
}

.call-cta:hover {
  background-color: #ffffff;
  color: #ff5757;
  border: 1px solid #ff5757;
}

.tab {
  font-size: 17px;
  color: #A1A5B7;
  font-weight: 500;
  line-height: 340%;
  cursor: pointer;
  padding: 8px;
  border-bottom: 2px solid transparent;
}

.lead-tabs .tab i {
  color: #a1a5b7;
}

.tab.active {
  color: #ff5757;
  border-bottom: 3px solid #ff5757;
}

.lead-tabs .tab.active i {
  color: #ff5757;
}

.tab.active::after {
  content: '';
  position: absolute;
  /* bottom: -6px;
    left: 50%; */
  transform: translateX(-50%);
  /* width: 30px;
    height: 3px; */
  background-color: #ff4d4f;
  border-radius: 10px;
}

.lead-tabs {
  display: flex;
  gap: 32px;
  margin-top: 3px;
  flex-wrap: wrap;
  padding: 0px 12px;
  align-items: center;

  
}

.info-left {
  width: 64.5%;
}

.info-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 35px;
  border: 2px solid #EDEDED;
}

.info-heade-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #282823;
}

.mid-bar {
  margin-top: 16px;
  border: 1px solid #EDEDED;
}

.ad-details p {
  font-size: 19px;
  font-weight: 500;
  color: #3C3C3C;
  letter-spacing: -2%;
}

.ad-details small {
  font-size: 15px;
  color: #9691A4;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
}

.ad-details {
  border-left: 2px solid #3C3C3C;
  padding: 0 13px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 31px;
  padding-bottom: 3px;
}

.info-block label,
.add-label {
  display: block;
  font-size: 18px;
  color: var(--lighter-shade, #64748B);
  font-weight: 500;
  margin-bottom: 4px;
}

.info-block p,
.ex-address {
  font-size: 18px;
  font-weight: 500;
  color: #0E0E0F;
  margin: 0;
}

.info-right {
  width: 32.2%;
}

.card-section {
  border: 1px solid #EDEDED;
  border-radius: 12px;
}

.dropdown-box {
  padding: 16px 20px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
}

.label {
  font-size: 17px;
  color: #838383;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}


.address-card {
  border: 1.4px solid #CBD5E1;
  border-radius: 14px;
  padding: 25px 22px;
}

.address-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 8px;
  line-height: 18px;
  color: #0F172A;
}

.address-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  margin-top: 19px;
  justify-content: space-between;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 19px;
  justify-content: space-between;
}

.education-1-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 29px;
  justify-content: space-between;
}

.language-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.status {
  display: flex;
  align-items: center;
  color: #01B574;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.status-dot {
  width: 7px;
  height: 7px;
  background-color: #01B574;
  border-radius: 50%;
  margin-right: 6px;
}



.follow-up-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 65px;
  padding: 12px 21px;
  box-shadow: 0px 34.47px 68.95px 0px #3939391A;
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid #A5A5A566;
  flex-wrap: wrap;
  gap: 15px;
}

.follow-up-wrapper {
  position: fixed;
  /* display: none; */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content .date {
  font-weight: bold;
  font-size: 14px;
  color: var(--Base-Value-Color-Black, #202226);
}

.content .note {
  font-size: 14px;
  color: #838383
}

.read-more {
  color: #838383;
  text-decoration: underline !important;
  margin-left: 2px;
  font-size: 14px;
}

.right-section {
  display: flex;
  gap: 15px;
}

.btn-outline,
.btn-filled {
  background: transparent;
  border: 0.81px solid #FF635F;
  box-shadow: 0px 0.81px 1.62px 0px #1018280D;
  color: #FF635F;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 0.81px solid #FF635F;
  color: #FF635F;
}

.btn-filled {
  background: #ff635f;
  color: white;
  border: none;
}




.quick-actions-button {
  /* position: fixed;
    bottom: 29px;
    right: 29px; */
  background-color: #3c3c3c;
  color: white;
  /* width: 170px; */
  padding: 13px 18px;
  text-align: center;
  border-radius: 13px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 4.97px 14.92px 0px #1F1B2D14;
  box-shadow: 0px 2.49px 2.49px -2.49px #1F1B2D14;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 9999;
}

.quick-actions-button span {
  white-space: nowrap;
}

.conatiner-open {
  position: fixed;
  bottom: 90px;
  right: 50px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.quick-actions,
.call-lead {
  background: white;
  width: 300px;
  border-top: 4px solid #18353B;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.call-lead {
  width: 260px;
  position: fixed;
  right: -5%;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  position: fixed;
}

.call-lead-down-arrow {
  transform: translateY(-50%) rotate(90deg);
}

.call-lead-up-arrow {
  transform: translateY(-50%) rotate(270deg);
}

.quick-actions::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 90%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.quick-head {
  margin: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 6px;
  align-items: center;
  color: #3c3c3c;
  /* border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; */
}

.action-item {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  justify-content: space-between;
  border-bottom: 1px solid #E3E5EB;
  cursor: pointer;
}

.action-item-1,
.call-item {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  justify-content: space-between;
  cursor: pointer;
}

.action-items {
  padding: 4px 20px;
  background-color: #F9FAFB;
}

.call-action-item-1 {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  justify-content: space-between;
  border-top: 1px solid #E3E5EB;
  cursor: pointer;
}

.call-action-items {
  padding: 4px 2px;
}

.contact-card {
  background-color: #f9f9f9;
  padding: 8px 16px 12px;
  width: fit-content;
}

.contact-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
  color: var(--Base-Value-Color-Black, #202226);

}

.contact-phone {
  display: flex;
  align-items: center;
  color: #454056;
  font-weight: 400;
  font-size: 22px;
}

.call-inner-item i {
  color: var(--success, #01B574);
  margin-right: 8px;

}

.contact-phone i {
  color: #ff5757;
  margin-right: 8px;
}

.inner-item,
.call-inner-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 17px;
  font-weight: 400;
  color: #121722;
}


.call-timer-card {
  background-color: #f9f9f9;
  padding: 5px 16px 12px;
  border-radius: 10px;
  /* width: fit-content; */
  text-align: center;
}

.timer-display {
  font-size: 38px;
  font-weight: 600;
  color: #121722;
  margin-bottom: 8px;
}

.end-call {
  color: var(--lighter-shade, #64748B);
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.end-call:hover {
  color: #dc2626;
}

.call-inner-item {
  font-weight: 600 !important;
}

.action-item i {
  margin-right: 12px;
  font-size: 18px;
}

.follow-ups {
  position: relative;
}

.action-item:hover,
.action-item-1:hover {
  background-color: #f7f7f7;
}

.badge {
  position: absolute;
  top: 14px;
  right: 16px;
  background: #FF57571A;
  color: #ff5757;
  border-radius: 50%;
  font-size: 14px;
  padding: 6px 9px;
}

.close-btn {
  position: absolute;
  bottom: -50px;
  left: 90%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  background: #3c3c3c;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 12px -1px #12172233;
  box-shadow: 0px 8px 10px -2px #1217220A;

}

.close-btn:hover {
  background: #555;
}



.btn-primary,
.btn-secondary {
  background-color: #ff5757;
  color: #ffffff;
  border: 1px solid #ff5757;
  padding: 12px 22px;
  border-radius: 9px;
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ffffff;
  color: #333333;
  border: 1.63px solid #E7E7E7 !important;
}

.popup-container {
  width: 80vw !important;
}

.form-popup {
  margin: 0px 0px;
}

.form-sec {

  margin: auto;
}

.label-fade {
  color: #a5a5a5;
  font-size: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}

.input-group label,
.input-gp label,
label {
  margin-bottom: 8px;
  font-size: 18px;
  color: #1F1B2D;
  font-weight: 400;
  line-height: 150%;
}

.input-group input,
.upload-box,
.brochure_upload-box,
.input-group textarea {
  padding: 1.25rem 3.5rem 1.25rem 1.5rem;
  border: 1.19px solid #D5D2DC;
  border-radius: 10px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
border: 1.5px solid #CBD5E1;
}
input{
  border: 1.5px solid #CBD5E1 !important;
}
.select-option {
  padding: 0.4rem 1.5rem 0.4rem 0.8rem;
  border: 1.19px solid #D5D2DC;
  border-radius: 10px;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;

}

.custom-select {
  border: none !important;
  outline: none !important;
}

select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

@media only screen and (min-width: 1024px) and (max-width: 1740px) {
  .lead-tabs {
    gap: 16px;
    padding: 0px 9px;
  }

  .tab {
    line-height: 35px;
  }
}

@media (max-width: 690px) {
  .follow-up-card {
    padding: 14px;
    justify-content: center;
    border-radius: 15px;
  }

  .right-section {
    gap: 12px;
  }

  .btn-outline,
  .btn-filled {
    padding: 6px 14px;
  }

}

@media (max-width: 1024px) {
  .info-section {
    flex-direction: column;
    gap: 18px;
  }

  .info-left,
  .info-right {
    width: 100%;
  }

  .lead-tabs {
    gap: 15px;
    padding: 2px 8px;
  }

  .tab {
    line-height: 30px;
  }

  .select-option {
    padding: 0px 14px 0px 0px;

  }

  .lead-avatar img {
    width: 82px;
    height: 82px;
  }

  .lead-name {
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
  }

  .lead-details {
    border-left: 0px;
    padding-left: 0px;
  }

}

@media (max-width: 450px) {
  .lead-tabs {
    gap: 10px;
    padding: 5px 0px;
  }

  .tab {
    line-height: 24px;
  }

  .lead-card {
    padding: 23.5px 16px 17px;
  }

  .info-card {
    padding: 30px 20px;
  }

  .info-heade-heading {
    font-size: 19px;
    line-height: 120%;
  }

  .info-block label,
  .add-label {
    font-size: 17px;
  }

  .contact-card {
    padding: 0px 10px 8px;
  }

  .contact-name {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 4px;
  }

  .contact-phone {
    font-size: 19px;
  }


  .conatiner-open {
    bottom: 30px;
    right: 33px;
    gap: 52px;
  }

  .quick-actions-button {
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 500;
  }

  .action-item {
    padding: 10px 0px;
  }

  .inner-item {
    gap: 7px;
    font-size: 16px;
  }

  .quick-actions {
    width: 280px;
  }

  .call-lead {
    width: 220px;
    position: fixed;
    right: -20%;
    top: 50%;

  }

  .info-block p,
  .ex-address {
    font-size: 17px;
  }

  .address-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-primary,
  .btn-secondary {
    padding: 8px 16px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 670px) {
  .address-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .call-lead {
    width: 230px;
    position: fixed;
    right: -13%;
    top: 50% !important;

  }
}

@media only screen and (min-width: 670px) and (max-width: 870px) {
  .call-lead {
    position: fixed;
    right: -11%;
    top: 50%;

  }

  .follow-up-card {
    justify-content: center;
  }
}

@media only screen and (min-width: 870px) and (max-width: 1024px) {
  .call-lead {
    width: 240px;
    position: fixed;
    right: -8.2%;
    top: 50%;

  }

  .follow-up-card {
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1242px) {
  .call-lead {
    position: fixed;
    right: -8.5%;
    top: 50%;

  }

  .follow-up-card {
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .call-lead {
    position: fixed;
    right: -7%;
    top: 50%;

  }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  .call-lead {
    position: fixed;
    right: -6%;
    top: 50%;

  }
}

@media only screen and (min-width: 1420px) and (max-width: 1490px) {
  .lead-avatar img {
    width: 85px;
    height: 85px;
  }

  .lead-header-left {
    gap: 4px;
  }

  .lead-details {
    padding-left: 0.85rem;
  }

  .lead-header {
    gap: 8px;
  }

  .select-option {
    padding: 0.2rem 0.8rem 0.2rem 0.2rem;
  }

  .lead-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #202226;
  }

  .image-gap {
    gap: 5px;
  }

  select {
    padding: 0.7rem 0.4rem !important;
  }
}
@media (max-width:1376px){
  .lead-actions{
  flex-direction: row;
  gap:20px;
  align-items: center;
}
.button-group {
  margin-top: 0px;
  gap:18px;
}
}
@media (max-width:555px){
  .lead-actions{
    flex-wrap: wrap;
    gap: 15px;
  }
  .button-group {
  margin-top: 0px;
  gap:15px;
}
}