.form-label {
  color: black;
  font-weight: 600;
}

.change_pic {
  background-image: url('/img/svg/change_pic.svg');
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 200px;
}

.slider_card {
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
  margin: 0px 12px 12px 12px;
}

.card {
  border: none !important;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  /* text-align: center; */
  margin-bottom: 0.8rem;
}

.category-crousel-business {
  max-height: 167px;
}

.card-title>h4 {
  font-weight: 600;
  color: #1f1b2d;
}

.card-title>h5 {
  font-weight: 600;
  color: #1f1b2d;
}

.edit_btn {
  height: 30px;
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: center;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  0px 3.16px 9.48px 0px #1f1b2d45;;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.edit_btn img{
  height: 15px;
}

.card-body>p {
  color: #666276;
  margin: 0;
  padding: 0px 10px;
}

.card-body>span {
  color: #ff5757;
  text-decoration: underline;
  font-weight: 500;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -15px;
  z-index: 1000;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.accommodation-slider-inner .card .card-img-top img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: 16/9;
}

.accommodation-slider-inner .card .accommodation-save {
  position: absolute;
  top: 20px;
  right: 20px;
}

.accommodation-slider-inner .card .accommodation-save a {
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  color: var(--red-tone);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
  height: fit-content;
}

.accommodation-slider-inner .card .accommodation-save a:hover {
  background: #ff5757;
  color: #fff;
}

.accommodation-slider-inner .card .card-body .card-title h5 a {
  color: #3c3c3c;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.accommodation-slider-inner .card .card-body ul li {
  color: #666276;
  margin-inline-end: 14px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.accommodation-slider-inner .card .card-body ul li span {
  color: #9691a4;
}

.accommodation-slider-inner .card .card-body ul li span i {
  color: #fdbc31;
  margin-inline-end: 6px;
}

.accommodation-slider-inner .card .card-body ul li img {
  margin-inline-end: 6px;
  display: inline-block;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.slick-next {
  right: -40px;
}

.slick-prev,
.slick-next {
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
  background-color: #fff;
  transition: 0.3s;
}

.slick-prev:before {
  content: '';
}

.slick-next:before {
  content: '';
}

.slick-prev:before,
.slick-next:before {
  /* font-size: 26px; */
  opacity: 1;
  color: #666276;
  transition: 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #ff5757;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #fff;
}

ul.slick-dots li.slick-active {
  width: 32px;
  opacity: 1;
}

.slick-dots li button {
  opacity: 0;
}

.slick-dots li {
  width: 16px;
  height: 6px;
  background-color: #666276;
  border-radius: 40px;
  opacity: 0.4;
}

.slick-dots {
  bottom: -45px;
}

.testimonial-inner .slick-next {
  right: 85%;
}

.slick-prev,
.slick-next {
  width: 26px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
}

.slick-next {
  right: -15px;
}

.events-slider .slick-prev {
  left: -30px;
}

.events-slider .slick-next {
  right: -30px;
}

.testimonial-inner .slick-next {
  right: 83%;
}

.testimonial-inner .testimonial-img {
  margin-inline: 12px;
  border-radius: 12px;
}

.testimonial-inner .testimonial-img img {
  border-radius: 12px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.services_slider .slick-dots {
  bottom: -25px;
}

.services_slider {
  right: -20px;
}

.services_slider .slick-prev,
.services_slider .slick-next {
  width: 19.24px;
  height: 19.24px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
  background-color: #fff;
  transition: 0.3s;
}

.services_slider .slick-prev {
  left: -20px;
}

.services_slider .slick-prev:before,
.services_slider .slick-next:before {
  font-size: 12px;
  content: '';
  opacity: 1;
  color: #666276;
  transition: 0.3s;
}

.services_slider .slick-prev:before {
  content: '';
}

.explore-slider.services_slider .slick-dotted.slick-slider {
  width: calc(100% + 12px);
  margin-left: -6px;
}

.achievers_box_slider.services_slider {
  width: calc(100% + 16px);
  margin-left: -8px;
}

.recently_section .slick-prev,
.recently_section .slick-next {
  width: 36px;
  height: 36px;
}

.recently_section .slick-prev:before,
.recently_section .slick-next:before {
  font-size: 20px;
}

.recently_section .slick-next {
  right: -59px;
}

.recently_section .slick-prev {
  left: -59px;
}

.slick-prev:before {
  content: '';
}

.slick-next:before {
  content: '';
}

.slick-prev:before,
.slick-next:before {
  font-size: 26px;
  opacity: 1;
  color: #666276;
  transition: 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #ff5757;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #fff;
}

.accommodation-slider {
  width: calc(100% + 24px);
  margin-inline-start: -12px;
}

.accommodation-slider-inner .card:hover .slick-prev,
.accommodation-slider-inner .card:hover .slick-next {
  opacity: 1;
}

.card-img-slider .slick-prev,
.card-img-slider .slick-next {
  background-color: transparent !important;
  opacity: 0;
  transition: 0.3s;
}

.card-img-slider .slick-prev:before,
.card-img-slider .slick-next:before {
  color: #fff !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 26px;
  opacity: 1;
  color: #666276;
  transition: 0.3s;
}

.card-img-slider .slick-prev {
  left: 10px;
  z-index: 1;
}

.card-img-slider .slick-next {
  right: 10px;
  z-index: 1;
}

.testimonial-inner .slick-prev,
.testimonial-inner .slick-next {
  top: 110%;
}

.testimonial-inner .slick-prev {
  left: 10px;
}

.testimonial-inner .slick-next {
  right: 88%;
}

.testimonial-img-slider.slick-initialized.slick-slider {
  z-index: 0;
}

.testimonial-inner .slick-prev,
.testimonial-inner .slick-next {
  top: 110%;
}

.testimonial-inner .slick-prev {
  left: 10px;
}

.testimonial-inner .testimonial-content {
  padding: 10px;
  position: relative;
  z-index: 0;
}

.testimonial-content-slider.slick-initialized.slick-slider {
  z-index: 99;
  width: calc(100% + 120px);
  margin-inline-start: -110px;
  position: relative;
}

.testimonial-inner .testimonial-content-inner {
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(31, 27, 45, 0.08);
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.testimonial-inner .testimonial-content-inner h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  color: #1f1b2d;
  margin-bottom: 16px;
}

.testimonial-inner .testimonial-content-inner>p {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #666276;
  margin-block-end: 24px;
}

.testimonial-inner .testimonial-content-footer h5 {
  font-size: 18px;
  font-weight: bold;
  color: #454056;
  margin-block-end: 4px;
}

.testimonial-inner .testimonial-content-footer p {
  font-size: 14px;
  font-weight: normal;
  color: #9691a4;
  margin-block-end: 16px;
}

.testimonial-inner .testimonial-content-footer .tcf-left ul li a {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-inline-end: 8px;
  border-radius: 50%;
  color: #454056;
  font-size: 16px;
  transition: 0.3s;
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
}

.testimonial-inner .testimonial-content-footer .tcf-right ul li {
  color: #fdbc31;
  margin-inline-start: 2px;
  font-size: 18px;
}

.testimonial-inner .testimonial-content-footer p {
  font-size: 14px;
  font-weight: normal;
  color: #9691a4;
  margin-block-end: 16px;
}

.testimonial-content-slider.slick-initialized.slick-slider:after {
  content: '';
  background-image: url('/img/svg/quote.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 32px;
  position: absolute;
  background-size: 100%;
  top: -6px;
  right: 52px;
  z-index: 1;
}

.accommodation-slider-inner .card:hover .slick-prev,
.accommodation-slider-inner .card:hover .slick-next {
  opacity: 1;
}

.card-img-slider .slick-prev,
.card-img-slider .slick-next {
  background-color: transparent !important;
  opacity: 0;
  transition: 0.3s;
}

.card-img-slider .slick-prev:before,
.card-img-slider .slick-next:before {
  color: #fff !important;
}

.card-img-slider .slick-prev {
  left: 10px;
  z-index: 1;
}

.card-img-slider .slick-next {
  right: 10px;
  z-index: 1;
}

.visa-expert-feature-img>img {
  width: 100%;
}

.visa-expert-left>img {
  width: 100%;
}

.title .filter-sec ul {
  border: none;
}

.title .filter-sec li a {
  padding: 8px 16px;
  background-color: #f5f4f8;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  color: #454056;
  margin: 6px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.title a {
  font-size: 16px;
  font-weight: normal;
  color: #666276;
  text-decoration: none;
}

.title .filter-sec li a.active {
  background-color: #fff;
  color: #ff5757;
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
}

.world-travel-section .world-travel-left .events-slider-inner .events-slider-img {
  position: relative;
  height: 525px;
  border-radius: 12px;
  margin-inline: 0;
}

.world-travel-section .events-slider-inner .events-slider-img {
  overflow: hidden;
}

.world-travel-section .events-slider-inner .events-slider-img img {
  transition: 0.3s;
}

.events-slider-inner img {
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.events-slider-inner .top-bedge {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.events-slider-inner .top-bedge span.verify-bedge {
  background-color: #07c98b;
  margin-right: 8px;
}

.events-slider-inner .top-bedge span {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
}

.events-slider-inner .top-bedge span.new-bedge {
  background-color: #3c76f2;
}

.events-slider-inner .top-bedge span {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
}

.events-slider-inner .events-details {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
}

.events-slider-inner .events-details p {
  color: #fff;
  font-size: 14px;
}

.events-slider-inner .events-details h5 a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
}

.events-slider-inner .events-details p.flat-address {
  color: rgba(255, 255, 255, 0.8);
}

.world-travel-section .events-slider-inner .events-slider-img img {
  transition: 0.3s;
}

.events-slider-inner .events-details span img {
  width: 16px;
  display: inline-block;
}

.events-slider-inner img {
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.events-slider-inner .events-share {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.world-travel-section .events-slider-inner .events-share ul {
  border-radius: 8px;
}

.events-slider-inner .events-share ul {
  background-color: #ff5757;
  border-radius: 25px;
}

.events-slider-inner .events-share ul li:first-child {
  position: relative;
}

.events-slider-inner .events-share ul button {
  background-color: transparent;
  border: none;
  padding: 10px 18px;
  color: #fff;
}

.events-slider-inner .events-share ul li:first-child:after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 28px;
}

.events-slider-inner .events-slider-img:after {
  content: '';
  background-image: linear-gradient(180deg,
      rgba(31, 27, 45, 0) 0%,
      rgba(31, 27, 45, 0.1) 26.56%,
      rgba(31, 27, 45, 0.28) 42.71%,
      rgba(31, 27, 45, 0.48) 56.77%,
      rgba(31, 27, 45, 0.68) 72.4%,
      rgba(31, 27, 45, 0.85) 86.98%,
      rgba(31, 27, 45, 0.94) 100%);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.world-travel-section .world-travel-right .events-slider-inner:first-child {
  margin-bottom: 25px;
}

.world-travel-section .world-travel-right .events-slider-inner .events-slider-img {
  position: relative;
  height: 250px;
  border-radius: 12px;
  margin-inline: 0;
}

.world-travel-section .events-slider-inner .events-slider-img {
  overflow: hidden;
}

.events-slider-inner .events-slider-img {
  position: relative;
  height: 320px;
  border-radius: 12px;
  margin-inline: 10px;
}

.world-travel-section .events-slider-inner .events-slider-img img {
  transition: 0.5s;
}

.world-travel-section .events-slider-inner .events-slider-img:hover img {
  transform: scale(1.1);
}

.mb-124 {
  margin-bottom: 124px;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.app-banner-section-inner {
  background: linear-gradient(81.8deg,
      rgba(242, 60, 60, 0.15) 9.52%,
      rgba(242, 60, 60, 0.1) 67.4%);
  border-radius: 12px;
}

.app-banner-section-inner .app-banner-content-left {
  padding-inline-start: 64px;
}

.app-banner-section-inner .app-banner-content-left h2 {
  font-size: 32px;
  color: #f22c15;
  font-weight: bold;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.app-banner-section-inner .app-banner-content-left p {
  font-size: 18px;
  color: #666276;
  font-weight: normal;
}

.app-banner-section-inner .app-banner-content-left button {
  font-size: 18px;
  padding: 10px 26px;
  border-radius: 35px;
}

.app-banner-section-inner .app-banner-content-right {
  padding-inline-end: 24px;
}

.app-banner-content-right img {
  width: 100%;
}

.opportunities-section-inner .accordion {
  column-count: 2;
  column-gap: 54px;
}

.opportunities-section-inner .accordion .accordion-item {
  break-inside: avoid;
}

.opportunities-section-inner .accordion-item {
  position: relative;
}

.accordion-item:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.opportunities-section-inner .accordion-item {
  background-color: #fff;
  border: 1px solid #efecf3;
  margin-bottom: 8px;
  border-radius: 12px;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.opportunities-section-inner .accordion-button.collapsed {
  display: block;
  background-color: #f5f4f8;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.opportunities-section-inner .accordion-button {
  display: block;
  border-radius: 12px;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}

.opportunities-section-inner .accordion-button .company-name h4 span {
  font-size: 14px;
  color: #666276;
  font-weight: normal;
}

.opportunities-section-inner .accordion-button .company-name .c-badge.red-bagde {
  background: rgba(242, 60, 73, 0.1);
  color: #f23c49;
}

.opportunities-section-inner .accordion-button .company-name .c-badge {
  padding: 4px 10px;
  border-radius: 25px;
  font-size: 14px;
}

.opportunities-section-inner .accordion-button h3 {
  font-size: 18px;
  color: #666276;
  margin-top: 16px;
  font-weight: bold;
  line-height: 27px;
}

.opportunities-section-inner .accordion-button:not(.collapsed) h3 {
  color: #ff5757;
}

.opportunities-section-inner .accordion-button::after {
  background-image: none;
}

.collapse:not(.show) {
  display: none;
}

.accordion-body>p {
  color: #666276;
  font-size: 14px;
}

.company-card-footer ul li {
  color: #666276;
  font-size: 14px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.company-card-footer ul li img {
  margin-right: 4px;
}

.opportunities-section-inner .wishlist {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 12px 0px rgba(31, 27, 45, 0.08);
  color: #ff5757;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  line-height: 32px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.accordion-button:hover {
  z-index: 2;
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.opportunities-section-inner .accordion-collapse.show {
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
  border-radius: 0 0 12px 12px;
}

.opportunities-section-inner .accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}

.accordion-body>p {
  color: #666276;
  font-size: 14px;
}

.accordion-body>p .read-more-btn {
  color: #ff5757;
  font-weight: normal;
}

.download-app-section-inner .download-app-content h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 57px;
  letter-spacing: 0.5px;
  color: #11142d;
  margin-block-end: 22px;
}

.download-app-section-inner .download-app-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #92929d;
}

.download-app-content-list ul {
  margin: 58px 0 43px;
}

.download-app-content-list ul li {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #11142d;
  margin-block-end: 21px;
  position: relative;
  padding-inline-start: 40px;
}

.download-app-content-list ul li:before {
  content: '';
  background-image: url(/img/png/checkmark-circle.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
}

.app-store-btn {
  display: flex;
}

.app-store-btn a {
  display: inline-block;
  margin-inline-end: 26px;
  box-shadow: 0px 8px 16px 0px #1f1b2d29;
}

.app-store-btn a img {
  display: inline-block;
  height: 64px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.accommodation-slider-inner .card {
  border: none;
  margin-inline: 12px;
  position: relative;
}

.accommodation-slider-inner .card .card-img-top {
  height: 185px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.accommodation-slider-inner .card .card-img-top:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.3s;
}

.card-img-slider .slick-prev,
.card-img-slider .slick-next {
  background-color: transparent !important;
  opacity: 0;
  transition: 0.3s;
}

.card-img-slider .slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.card-img-slider .slick-prev:before,
.card-img-slider .slick-next:before {
  color: #fff !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}


.blog-section-inner .blog-card .card {
  border: none;
}

.blog-section-inner .blog-card .card-img-top {
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
}

.blog-section-inner .blog-card .card-img-top img {
  height: 100%;
  border-radius: 12px;
  transition: 0.3s;
  width: 100%;
}

.blog-section-inner .blog-card .card p.blog-tag {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #fd5631;
  text-transform: uppercase;

}

.all-countries {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 0px 15px;
}

.countries {
  width: auto;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 12px;
  background: #f8f8f8;
}

.flag {
  height: 10px;
}

.all-countries::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(152, 152, 152, 0.3);
  background-color: #f5f5f5;
}

.all-countries::-webkit-scrollbar {
  height: 3px;
  background-color: #f5f5f5;
}

.all-countries::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border: 2px solid #a6a6a6;
}

.slick-next:before {
  color: #ff5757 !important;
}

.video {
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.video>img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.video>iframe {
  width: -webkit-fill-available;
  border-radius: 30px;
}

.video>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 11vw; */
  /* right: 26vw; */
}

.cards {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 1.25px 1.25px -1.25px rgba(31, 27, 45, 0.08), 0px 2.5px 7.5px 0px rgba(31, 27, 45, 0.08);
  margin: 25px 0px;
}

.left-side-card {
  box-shadow: none !important;
  border-radius: none;
}

.card-body>input {
  border: 0.63px solid #d5d2dc;
  width: -webkit-fill-available;
  border-radius: 10px;
  padding-inline: 13px;
  outline: 0;
}

.card-body>textarea {
  border: 0.63px solid #d5d2dc;
  width: -webkit-fill-available;
  border-radius: 10px;
  padding-inline: 13px;
  outline: 0;
}

.brak-line {
  border: 0.51px solid #e3e3e3;
}

.days {
  color: #585858;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #211f1fc4;
  z-index: 1003;
}

.map {
  position: relative;
}

.map>img {
  width: 100%;
  /* Adjusted to ensure it's responsive */
}

.map>button {
  position: absolute;
  /* Absolute positioning within the relative container */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%,
      -50%);
  /* Adjust to the center of the button itself */
  border: 0;
  background: #ff5757;
  padding: 10px 20px;
  width: max-content;
  column-gap: 10px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  color: #ffff;
  font-weight: 700;

  font-size: 14px;
  /* Add any additional styling you need for the button */
}

/* media query here */

/* @media (max-width: 1650px) {
  .video > span {
    top: 11vw;
    right: 25vw;
  }
}

@media (max-width: 1500px) {
  .video > span {
    top: 10vw;
    right: 24vw;
  }
}

@media (max-width: 1350px) {
  .video > span {
    top: 9vw;
    right: 23vw;
  }
}

@media (max-width: 1280px) {
  .video > span {
    top: 9vw;
    right: 21vw;
  }
}

@media (max-width: 1200px) {
  .video > span {
    top: 12vw;
    right: 30vw;
  }
}

@media (max-width: 992px) {
  .video > span {
    top: 18vw;
    right: 40vw;
  }
}

@media (max-width: 768px) {
  .video > span {
    top: 16vw;
    right: 38vw;
  }
}

@media (max-width: 425px) {
  .video > span {
    top: 16vw;
    right: 36vw;
  }
}

@media (max-width: 375px) {
  .video > span {
    top: 15vw;
    right: 34vw;
  }
} */

@media screen and (max-width: 580px) {
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }
}

.img center {
  position: relative;
  top: 20px;
}

.category-card {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px 1px #e1e1e1;
}

.category-card h6 {
  font-size: 10px;
}

/*Timings Modal CSS*/

.background-img>img {
  width: inherit;
  max-width: 500px;
  object-fit: scale-down;
  height: 100vh;
}

.imgdiv span {
  color: #707070;
}

.icon-box>h5 {
  color: #454056;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.icon-box>input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0;
}

.form-group>label {
  font-size: 15px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: -webkit-fill-available;
  color: #696f79;
}

input[type='text'] {
  /* border: none; */
  /* margin-left: 10px; */
  flex-grow: 1;
}

.phone-number-verification>label {
  font-size: 15px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: -webkit-fill-available;
  color: #696f79;
}

.input-group>input {
  max-width: 350px;
  min-width: 100px;
  width: 100%;
}

.text-body-secondary>.text-align {
  padding-top: 5px;
  color: rgb(134, 146, 166);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: auto 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliders {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6a6a6;
  transition: 0.4s;
}

.sliders.round {
  border-radius: 34px;
}

.sliders:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: #3d4859;
  transition: 0.4s;
  border-radius: 12px;
}

.switch input:checked+.sliders {
  background-color: #56cd54;
}

.switch input:checked+.sliders:before {
  background-color: #ffff;
}

.switch input:checked+.sliders:before {
  transform: translateX(22px);
}

.timing>span {
  color: #585858;
  font-weight: 700;
}

#to {
  color: #585858;
  font-weight: 700;
  width: 42px;
}

.business-hours {}

.hours-list {
  list-style-type: none;
  padding: 0;
  overflow: auto;
}

.hour-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  min-width: max-content;
  column-gap: 10px;
}

.hour-item:last-child {
  border-bottom: none;
}

.day,
.status,
.time,
.to {
  margin: 0 5px;
}

li>.day {
  color: #150b3d;
  font-weight: 400;
  font-size: 20px;
  width: 115px;
}

li>.status {
  color: #909090;
  font-weight: 400;
  font-size: 20px;
  width: 80px;
}

li>.time {
  border: 0.6px solid #8692a6;
  padding: 8px 20px;
  border-radius: 8px;
  display: flex;
  column-gap: 5px;
}

.time>span {
  color: #585858;
  font-weight: 700;
  text-decoration: underline;
}

.to {
  color: #585858;
  font-weight: 700;
}

.upload-image-box {
  width: 100%;
  background-color: #fff;
  padding: 0px 9px;
  border: 0;
  border-radius: 15px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}

.button-container>#upload-btn {
  width: 45%;
  padding: 10px 20px;
  background: #ff5757;
  border-radius: 10px;
  border: 1.63px solid #e7e7e7;
  font-size: 20px;
  font-weight: 400;
  color: #ffff;
}
/* 
.upload-video {
  max-height: 675px !important;
} */

.upload-top-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.upload-top-bar>.upload-text {
  font-size: 25px;
  font-weight: 700;
  color: #1f1b2d;
}

.image-upload-container {
  position: relative;
  width: inherit;
  height: min-content;
}

#upload-container {
  width: inherit;
  margin: 25px 0px;
}

#upload-video-container {
  width: inherit;
  margin: 25px 0px;
}

.image-upload-container>.upload-icon {
  position: absolute;
  left: 88px;
  top: 60px;
  width: 100%;
  max-width: min-content;
}

.image-upload-container>.upload-icon {
  position: absolute;
  left: 88px;
  top: 60px;
  width: 100%;
  max-width: min-content;
}

.image-upload-container>.upload-video-icon {
  position: absolute;
  left: 140px;
  top: 60px;
  width: 100%;
  max-width: min-content;
}

.button-container>#back-btn {
  padding: 12px 40px;
  background: #ffff;
  border-radius: 10px;
  border: 1.63px solid #e7e7e7;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.upload-image-box>input {
  border: 0.63px solid #d5d2dc;
  width: -webkit-fill-available;
  height: 44px;
  border-radius: 10px;
  padding-inline: 13px;
  outline: 0;
}

/* .input-field {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
} */

.input-field>label {
  font-size: 17px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.input-field>input {
  border: 1.53px solid #cbd5e1;
  height: 60px;
  border-radius: 8px;
  outline: none;
  padding-inline: 20px;
}

.input-field>textarea {
  border: 1.53px solid #cbd5e1;
  height: 60px;
  border-radius: 8px;
  outline: none;
  padding-inline: 20px;
}

.input-field>select {
  border: 1.53px solid #cbd5e1;
  height: 60px;
  border-radius: 8px;
  outline: none;
  padding-inline: 20px;
}

.p-carousel-container {
  height: 215px !important;
}

/* media qury here */

@media (max-width: 768px) {
  .hour-item {
    align-items: flex-start;
  }

  .day,
  .status,
  .time,
  .to {
    margin: auto 0;
  }
}

.timeclass {
  border: none;
  background-color: white;
}

@media (max-width: 480px) {
  .button-container>#back-btn {
    padding: 10px 20px;
  }

  .button-container>#upload-btn {
    padding: 10px 30px;
  }
}

@media (max-width: 375px) {
  .button-container>#back-btn {
    font-size: 18px;
    padding: 10px 20px;
  }

  .button-container>#upload-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 340px) {
  .button-container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}

.vicon {
  color: #ff5757;
}










/* video modal */


::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-track {
  border: 3px solid #e8e8e8
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #f1f5f7, #f1f5f7)
}

/* .upload-image-box {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 45px 30px;
  border: 0;
  border-radius: 15px
} */

/* .upload-video {
  max-height: 665px !important
} */

.image-upload-container {
  position: relative;
  width: inherit;
  height: -moz-min-content;
  height: min-content;
  height: 185px;
  background-repeat: round
}

#upload-container {
  width: inherit;
  margin: 25px 0
}

#upload-video-container {
  width: inherit;
  margin: 25px 0
}

.image-upload-container>.upload-icon {
  position: absolute;
  left: 88px;
  top: 60px;
  width: 100%;
  max-width: min-content
}

.image-upload-container>.upload-icon {
  position: absolute;
  left: 88px;
  top: 60px;
  width: 100%;
  max-width: min-content
}

.image-upload-container>.upload-video-icon {
  position: absolute;
  left: 140px;
  top: 60px;
  width: 100%;
  max-width: min-content
}

.button-container {
  display: flex;
  justify-content: space-between
}

.button-container>#back-btn {
  padding: 12px 60px;
  background: #ffff;
  border-radius: 10px;
  border: 1.63px solid #e7e7e7;
  font-size: 20px;
  font-weight: 400
}

.button-container>#upload-btn {
  padding: 12px 35px;
  background: #ff5757;
  border-radius: 10px;
  border: 1.63px solid #e7e7e7;
  font-size: 20px;
  font-weight: 400;
  color: #ffff
}

.input-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 12px
}

.input-field>span {
  font-size: 21px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  color: #0f172a
}

.input-field>input {
  border: 1.53px solid #cbd5e1;
  height: 55px;
  border-radius: 12px;
  outline: 0
}

.action_btn {
  background-color: #fff;
  border-radius: 50px;
  color: #454056;
  width: 33px;
  position: absolute;
  left: 0;
  margin: 20px
}
.upload-button{
  background-color: #ff5757 ;
  color:#ffffff !important;
  border:1px solid #ff5757 !important;
}
.upload-button:hover{
background-color: #ffffff !important;
color:#ff5757 !important;
}

@media (max-width:500px) {
  #upload-container {
    width: 88vw
  }

  .image-upload-container>.upload-icon {
    max-width: 50vw
  }

  .image-upload-container>.upload-video-icon {
    max-width: 30vw
  }
}

@media (max-width:480px) {
  .button-container>#back-btn {
    padding: 10px 40px
  }

  .button-container>#upload-btn {
    padding: 10px 40px
  }
}

@media (max-width:450px) {
  #upload-container {
    width: 86vw
  }

  .image-upload-container>.upload-icon {
    max-width: 48vw
  }

  .image-upload-container>.upload-video-icon[data-v-e564b56e] {
    left: 125px;
    top: 60px
  }

  .image-upload-container>.upload-video-icon {
    max-width: 30vw
  }
}

@media (max-width:425px) {
  #upload-container {
    width: 85vw
  }

  .image-upload-container>.upload-icon {
    max-width: 46vw
  }

  .image-upload-container>.upload-video-icon[data-v-e564b56e] {
    left: 115px;
    top: 60px
  }
}

@media (max-width:395px) {
  .image-upload-container>.upload-icon {
    max-width: 42vw
  }

  .image-upload-container>.upload-video-icon[data-v-e564b56e] {
    left: 105px;
    top: 60px
  }
}

@media (max-width:375px) {
  #upload-container {
    width: 83vw
  }

  .image-upload-container>.upload-icon {
    max-width: 40vw
  }

  .image-upload-container>.upload-video-icon[data-v-e564b56e] {
    left: 97px;
    top: 60px
  }

  .button-container>#back-btn {
    font-size: 18px;
    padding: 10px 30px
  }

  .button-container>#upload-btn {
    font-size: 18px;
    padding: 10px 30px
  }
}

@media (max-width:350px) {
  .image-upload-container>.upload-icon {
    max-width: 35vw
  }

  .image-upload-container>.upload-video-icon[data-v-e564b56e] {
    left: 85px;
    top: 60px
  }
}