/** @format */

button[class='formkit-input'] {
  display: none;
}

input[type='text'],
input[type='tel'],
select,
input[type='email'],
input[type='password'],
input[type='select'],
input[type='datetime-local'],
input[type='date'],
input[type='number'],
textarea,
select[class='formkit-input'] {
  display: block;
  width: 100%;
  padding: 0.875rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color) ;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   resize:none;
}

.formkit-suffix-icon > svg {
  height: 25px;
}

li[data-message-type='ui'] {
  display: none;
}

.formkit-messages {
  padding-left: 10px;
}

.formkit-label{
  font-size: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

.formkit-message {
  color: #ff5757;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.formkit-outer > .formkit-fieldset > .formkit-options {
  padding: 0;
}

/* user profile css */

.first-inpt-frmkit .formkit-outer .formkit-wrapper .formkit-label{
  font-size: 16px;
  font-weight: 700;
  color: #454056;
}
.first-inpt-frmkit .formkit-outer .formkit-wrapper .formkit-inner .formkit-input{
  outline: none;
  border: none;
  border-bottom: 1px solid #efecf3;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 0px 15px 5px;
  color:#666276
}
.form-group .formkit-outer .formkit-wrapper .formkit-inner .formkit-input{
  padding: 14px !important;
}
.tourist-minwidth-qsr .formkit-outer .formkit-fieldset .formkit-options .formkit-option .formkit-wrapper .formkit-label{
font-size: 15px;
padding-left: 7px;
}