.icon1 {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #838383;
    border-radius: 5px;
    border: 0.1px solid;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
    width: 33px;
    height: 33px;
}

.icon1:hover {
    background: #ff6c68;
    color: #ffff;
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.icon2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #838383;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px;
    transition: 0.3s;
    height: 28px;
    width: 28px;
    margin-top: 5px;
}

.icon2:hover {
    background: #ff6c68;
    color: #ffff;
    transition: 0.3s;
    /* transform: scale(1.2); */
}

.icon3 {
    color: #ff6c68;
}

.icon4 {
    color: #ff6c68;
}

/* For dropdown icons */
.icon5 {
    color: #ff5757;
    margin-bottom: 5px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}