.builder-form-container {
  width: 430px
}

.builder-wrapper {
  display: flex
}

.builder-section1 {
  width: 50%;
  background-color: #fff
}

.builder-section2 {
  width: 50%;
  background: #f6f8fb
}

.builder-wrapper {
  padding: 40px
}

.builder-section1-row1 {
  display: flex;
  justify-content: center;
  padding-top: 50px
}

.builder-section1-row2 {
  height: 618px;
  padding-top: 50px;
  display: flex;
  justify-content: end
}

.builder-section1-row2>img {
  height: 100%;
  height: 100%;
  object-fit: contain
}

.builder-back {
  display: flex;
  align-items: center;
  gap: 3px
}

.builder-back>p {
  margin: 0
}

.btn-row1 {
  margin: 0;
  font-size: 16px;
  color: #8692a6;
  text-decoration: none
}

#back-logo {
  font-size: 12px;
  color: #8692a6
}

.builder-section2-row1-col2>p {
  margin: 0
}

.builder-row1 {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.builder-back>p {
  font-weight: 600;
  font-size: 16px;
  color: #8692a6
}

.builder-wrapper-section2 {
  padding: 40px
}

.builder-section2-row1-col2>p:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd
}

.builder-section2-row1-col2>p:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
  color: #8692a6
}

.builder-section2-row2 {
  padding-top: 90px
}

.builder-section2-row2>h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 29px;
  color: #1f1f1f
}

.builder-section2-row2>h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
  color: #ff5757
}

#app-name {
  border: 1px solid #cbd5e1;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  padding-left: 10px;
  outline: 0
}

.builder-section2-row3 {
  padding-top: 30px;
  padding-bottom: 10px
}

.builder-section2-row4 {
  padding-top: 20px;
  padding-bottom: 10px
}

.builder-section2-row3>label {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #0f172a
}

.builder-section2-row4>label {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #0f172a
}

.builder-section2-btn {
  padding-top: 20px
}

.builder-section2-btn>button {
  width: 430px;
  height: 60px;
  border-radius: 10px;
  outline: 0;
  border: none;
  background-color: #ff5757;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #fff;
  transition: ease-out .8s;
  outline: 0;
  position: relative;
  z-index: 1
}

.builder-section2-btn>button:hover {
  color: red
}

.builder-section2-btn>button::before {
  transition: .5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #fff;
  border: 1px solid red;
  border-radius: 10px
}

.builder-section2-btn>button:hover:before {
  transition: .5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1
}

.builder-section2-row5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 10px
}

.builder-section2-row5>p {
  margin: 0;
  margin-top: -5px
}

.builder-section2-row5>p>span {
  color: #ff5757;
  border-bottom: 1px solid #ff5757
}

.Admen-section2-checkbox {
  position: relative
}

.custom-checkbox2 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  background-color: #fff
}

.custom-checkbox2:checked+.checkbox-label2::before {
  content: '✔';
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: red;
  color: #fff;
  border-radius: 3px
}

.checkbox-label2 {
  position: absolute;
  top: -3px;
  margin-left: -19px;
  font-weight: 700;
  color: #333;
}

@media only screen and (min-width:1390px) and (max-width:1420px) {
  .builder-section1 {
    width: 45%
  }

  .builder-section2 {
    width: 55%
  }
}

@media only screen and (min-width:320px) and (max-width:1389px) {
  .builder-section1 {
    display: none
  }

  .builder-wrapper {
    justify-content: center;
    align-items: center
  }
}

@media only screen and (min-width:991px) and (max-width:1389px) {
  .builder-section2 {
    width: 65%
  }

  .builder-form-container {
    margin: auto
  }

  .builder-section2-row2 {
    text-align: center;
    padding-top: 50px
  }
}

@media only screen and (min-width:768px) and (max-width:990px) {
  .builder-section2 {
    width: 85%
  }

  .builder-form-container {
    margin: auto
  }

  .builder-section2-row2 {
    text-align: center;
    padding-top: 50px
  }

  .builder-section2-btn {
    padding-top: 30px
  }
}

@media only screen and (min-width:530px) and (max-width:767px) {
  .builder-section2 {
    width: 100%
  }

  .builder-section2-btn>button {
    width: 340px
  }

  #app-name {
    width: 340px
  }

  .builder-form-container {
    width: 340px;
    margin: auto
  }

  .builder-form-container {
    margin: auto
  }

  .builder-section2-row2 {
    text-align: center;
    padding-top: 50px
  }

  .builder-section2-btn {
    padding-top: 30px
  }
}

@media only screen and (min-width:475px) and (max-width:529px) {
  .builder-section2 {
    width: 100%
  }

  .builder-section2-btn>button {
    width: 280px
  }

  #app-name {
    width: 280px
  }

  .builder-form-container {
    width: 280px;
    margin: auto
  }

  .builder-form-container {
    margin: auto
  }

  .builder-section2-row2 {
    text-align: center;
    padding-top: 50px
  }

  .builder-section2-btn {
    padding-top: 30px
  }
}

@media only screen and (min-width:375px) and (max-width:474px) {
  .builder-section2 {
    width: 100%
  }

  .builder-section2-btn>button {
    width: 240px
  }

  #app-name {
    width: 240px
  }

  .builder-wrapper-section2 {
    padding: 30px
  }

  .builder-wrapper {
    padding: 20px
  }

  .builder-form-container {
    width: 240px
  }

  .builder-form-container {
    margin: auto
  }

  .builder-section2-row2 {
    text-align: center;
    padding-top: 30px
  }

  .builder-section2-btn {
    padding-top: 30px
  }

  .builder-section2-row2>h2 {
    font-size: 25px;
    margin: 0
  }

  .builder-section2-row2>h3 {
    font-size: 25px
  }
}

@media only screen and (min-width:320px) and (max-width:374px) {
  .builder-section2 {
    width: 100%
  }

  .builder-section2-btn>button {
    width: 240px
  }

  #app-name {
    width: 240px
  }

  .builder-wrapper-section2 {
    padding: 20px
  }

  .builder-wrapper {
    padding: 0
  }

  .builder-form-container {
    width: 240px
  }

  .builder-form-container {
    margin: auto
  }

  .builder-section2-row2 {
    text-align: center;
    padding-top: 30px
  }

  .builder-section2-btn {
    padding-top: 30px
  }

  .builder-section2-row2>h2 {
    font-size: 25px;
    margin: 0
  }

  .builder-section2-row2>h3 {
    font-size: 25px
  }

  .builder-wrapper-section2 {
    padding-bottom: 40px
  }
}

.back-logo {
  color: #8692a6;
  font-size: 16px
}

#start {
  width: 210px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  outline: 0;
  font-weight: 400;
  font-size: 19px;
  color: #64748b;
  line-height: 32px
}

html {
  box-sizing: border-box
}

*,
:after,
:before {
  box-sizing: inherit
}

html {
  background: #181818;
  overflow-y: scroll
}

body {
  position: relative;
  font: 1em/1.6 'Varela Round', Arial, sans-serif;
  color: #999;
  font-weight: 400;
  max-width: 25em;
  padding: 1em;
  margin: 10% auto
}

h2 {
  font-weight: 400
}

@media screen and (min-width:1300px) and (max-width:1379px) {
  #start {
    width: 180px
  }
}

@media screen and (min-width:1300px) and (max-width:1349px) {
  #start {
    width: 180px
  }
}

@media screen and (min-width:490px) and (max-width:589px) {
  #start {
    width: 170px
  }
}

@media screen and (min-width:400px) and (max-width:489px) {
  #start {
    width: 140px
  }
}

@media screen and (min-width:375px) and (max-width:399px) {
  #start {
    width: 130px
  }
}

@media screen and (min-width:320px) and (max-width:374px) {
  #start {
    width: 110px
  }
}

.update-wrapper {
  width: 100%;
  height: auto;
  border-radius: 15.662px;
  background: #fff;
  box-shadow: 7.831px 7.831px 19.578px 0 rgba(0, 0, 0, .08);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 60px
}

.upload-image-content img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
  border-radius: 14px
}

.upload-image-content {
  width: 100%;
  height: 255px;
  border-radius: 14px
}

#update-img-addevt {
  margin: auto;
  max-width: 310px;
  width: 100%;
  min-height: 310px
}

.update-events-content {
  display: flex
}

.update-events-left {
  width: 65%
}

.update-events-right {
  width: 35%
}

.update-event-btn {
  display: flex;
  gap: 18px;
  margin-top: 30px
}

.update-event-change {
  border-radius: 28.6px;
  background: var(--Gradient-CTA, linear-gradient(135deg, #ff8686 0, #ff2618 100%));
  color: #fff;
  text-align: right;
  font-size: 15.6px;
  font-weight: 700;
  line-height: 41.6px;
  letter-spacing: -.281px;
  padding: 5.2px 20.8px;
  border: none
}

.update-event-right-image {
  margin: auto;
  max-width: 310px;
  width: 100%;
  height: 100%;
  min-height: 320px;
  background-color: #f9f8fa;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #a3aed0;
  cursor: pointer;
  
}

.update-event-rigt-innr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: inherit
}

.update-event-rigt-innr {
  max-width: 100%;
  height: auto
}

.update-event-rigt-innr>h5 {
  width: 125px;
  margin-top: 25px;
  color: #454056;
  text-align: center;
  font-size: 23.553px;
  font-weight: 700;
  line-height: 150%
}

@media screen and (max-width:991px) {
  .update-events-content {
    display: grid
  }

  .update-events-left {
    width: 100%
  }

  .update-events-right {
    width: 100%;
    padding-top: 50px
  }

  .update-event-btn {
    justify-content: center
  }
}

@media screen and (max-width:345px) {
  .update-event-btn {
    justify-content: center;
    flex-wrap: wrap
  }
}