.form-url-wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 4.934579372406006px 19.738317489624023px 0 #1f1B2D1F;
    padding: 15px 30px;
    margin-bottom: 1rem;
}

/* .form-inpt-head {
    gap: 15px;
    align-items: center;
    justify-content: space-between
} */

.your-events-addbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.your-event-addsign {
    background-color: #ff5757;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}
.addFromName{
    width: 80%;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 10px !important;
}

.form-url-frm {
    display: flex;
    gap: 20px
}

.url-form-label {
    color: #0f172a;
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 9px
}

.form-url-inpt {
    border-radius: 14px;
    border: 1px solid #cbd5e1;
    width: 100%;
    padding: 9px;
    outline: 0;
    background-color: #f9fbfd
}

.frm-url-fopt {
    color: #282823;
    font-weight: 700;
    font-size: 24px;
    opacity: .75
}

.url-frmsopt-flx {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.frm-url-enble {
    display: flex;
    align-items: center;
    gap: 18px
}

.frm-url-disalbl {
    color: #150b3d;
    font-weight: 400;
    font-size: 18px
}

/* 
.url-frm-options {
    padding-top: 15px
} */

.toggle-form {
    padding: 1px;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 50px;
    cursor: pointer
}

.toggle-form.active {
    background-color: #56cd54
}

.frm-toggle-inside {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform .3s
}

.toggle-form.active .frm-toggle-inside {
    transform: translateX(20px)
}

.url-frm-four-grd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px
}

.url-innr-frm-togle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px
}

/* .url-frm-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px
} */

.url-all-icon {
    text-align: center;
    width: 82px
}

@media screen and (max-width:1023px) {
    .url-frm-four-grd {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .form-inpt-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 26px
    }
}

@media screen and (max-width:767px) {
    .form-inpt-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 26px
    }

    .form-url-frm {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px
    }

    .url-frm-four-grd {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px
    }

    .url-frmsopt-flx {
        display: grid;
        justify-content: center;
        text-align: center;
        row-gap: 9px
    }
}

@media screen and (max-width:465px) {
    .url-frm-four-grd {
        grid-template-columns: repeat(1, 1fr)
    }

    .url-frm-four {
        margin: auto
    }
}

@media screen and (max-width:930px) {
    /* .url-frm-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px
    } */
}

@media screen and (max-width:480px) {
    /* .url-frm-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px
    } */
}

@media screen and (max-width:374px) {
    /* .url-frm-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px
    } */
}

.form-name-container input:focus {
    outline: none;
}

.form-name-container input[readonly] {
    cursor: default;
    /* Cursor: default when readonly (non-editable) */
}

/* Editable input */
.form-name-container input[readonly="false"] {
    cursor: text;
    /* Cursor: text when the input is editable */
}