/** @format */

.button-with-dropdown{
  display: flex;
}
.button-dropdown-container .button-with-dropdown .btn-align-center{
 background-color:#ff5757;
 color:white;
 

}
.button-dropdown-container .button-with-dropdown .btn-align-center{
  background-color:#ff5757;
  color:white;
  border-radius: 8px 0px 0px 8px;
 
 }
/* .blog-publish-dropdown-icon{
  
} */
.blog-publish-dropdown-icon {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  width: auto; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  padding:8px;
  background-color:#f22c15;
  color:white;
  border-radius: 0px 8px 8px 0px;
}

/* #blog-chips-idinpt{
  padding-bottom: 25px;
} */
.update-wrapper {
  width: 100%;
  height: auto;
  border-radius: 15px;
  background: #fff;
  box-shadow: 7px 7px 19px 0px rgba(0, 0, 0, 0.08);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.heading-edit {
  display: flex;
  flex-wrap: wrap;
column-gap: 15px;
  width: 380px;
}

.heading-edit > h4 {
  font-weight: 700;
  color: #1f1b2d;
}

.btn-align-center {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ff5757;
  border-radius: 8px;
  color: white;
}

.btn-align-center > span {
  color: #fff;
  padding: 14px 25px;
  border-radius: 8px 0px 0px 8px;
  background: #ff5757;
}

.select-option {
  padding: 12.5px 6px;
  color: #ffff;
  border: 0;
  border-bottom: 3px solid #f22c15;
  border-radius: 0px 8px 8px 0px;
  background: #f22c15;
}

.drop-down {
  inset: -3px 0px auto -170px !important;
  width: 120px !important;
  text-align: center;
  padding: 0;
}

.drop-down > li {
  border-bottom: 3px solid #ff5757;
  padding: 12px 12px;
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  background: #ff5757;
}

.blog-editor {
  width: -webkit-fill-available;
  padding-top: 20px;
  height: 400px;
}

.blog-editor > h5 {
  font-size: 14px;
}

.blog-editor > textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #d5d2dc;
  border-radius: 8px;
  height: 55px;
  padding-inline: 18px;
}

.blog-editor > input {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #d5d2dc;
  border-radius: 8px;
  height: 55px;
  padding-inline: 18px;
  outline: none;
}

.blog-editor-left{
  margin-top: 15px;
  width: 100%;
}
.blog-editor-left h5{
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  color: #0f172a;
}
.p-inputtext .p-chips-multiple-container{
  width: 100% !important;
}
#blog-product-col-1 > input {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #d5d2dc;
  border-radius: 8px;
  height: 55px;
  padding-inline: 18px;
}
#blog-chips-idinpt > * {
  width: 100%; /* Set all direct child elements of the parent to 100% width */
  box-sizing: border-box; /* Ensure padding/borders don't break the width */
}
#blog-chips-idinpt .p-chips .p-component .p-inputwrapper > ul {
  width: 100%;
}

.Picture {
  width: 100%;
  max-width: 275px;
  min-height: 275px;
  background-color: #f9f8fa;
  border-radius: 13px;
  margin-top: 15px;
  border: 1px dashed #d1d5db ;
  cursor: pointer;
}
.Picture-afteruploader {
  width: 100%;
  max-width: 275px;
  min-height: 275px;
  border-radius: 13px;
  cursor: pointer;
}
.pictr-upload-mgg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10px;
  position: relative;
  width: inherit;
  /* height: 275px; */
}

.icon-box > h5 {
  color: #454056;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  width: -webkit-fill-available;
}

.icon-box > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 275px;
  opacity: 0;
}

.toggle-btn {
  display: flex;
  padding-top: 25px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: #666276;
  justify-content: center;
  column-gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliders.round {
  border-radius: 34px;
}

.sliders {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6a6a6;
  transition: 0.4s;
}

.sliders.round:before {
  border-radius: 50%;
}

.sliders:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: #3d4859;
  transition: 0.4s;
}

.switch input:checked + .sliders {
  background: #f22c15;
}

.switch input:checked + .sliders:before {
  transform: translateX(22px);
}

.switch input:checked + .sliders:before {
  background-color: #ffff;
}
.blog-adpbls{
  width: 400px;
}


/* media query here */
@media (max-width: 991px) {
  .second {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1110px) {
#row-querimedia{
display: grid;
}
#second-row-addbg{
  width: 100%;
  padding-top: 20px;
}
#second-row-addbg1{
  width: 100%;
}
}

@media (max-width: 680px) {
  .drop-down {
    inset: -3px 0px auto -135px !important;
  }
  .header{
    row-gap: 15px;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .blog-adpbls{
    width: -webkit-fill-available;
}
.heading-edit {
  width: -webkit-fill-available;
}
}

.labelclass1 {
  width: 100%;
  max-width: 275px;
  min-height: 275px;
  border-radius: 13px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}