/** @format */
.vh-100 {
  height: auto;
}

.header {
  padding: 20px 0px;
  box-shadow: 0px -1px 8px 0px #bebebe, -20px -20px 60px #ffffff;
  z-index: 99;
  backdrop-filter: blur(8px);
  background: #ffffff52;
  width: -webkit-fill-available;
  position: relative;
}
.home-header {
  background-color: #ffffff !important;
  box-shadow: none;
  padding: 20px 0px 0px 0px; /* New padding for '/' route */
  z-index: 99;
  backdrop-filter: blur(8px);
  background: #ffffff;
  width: -webkit-fill-available;
  position: relative;
}

.signIn-color-wht {
  color: #fff;
  font-size: 15px;
}
.signUp-color-wht {
  font-size: 15px;
}
.signIn-up-container {
  font-size: 15px;
}
.btn-red:hover .signIn-color-wht,
.btn-red:hover .signUp-color-wht {
  color: #ff5757;
}

.btn-red svg {
  width: 20px;
  height: 20px;
  color: white;
}

/* .btn-red:hover svg {
  color: #ff5757;
} */

.inner-row {
  width: 95%;
  margin: 0 auto;
}

.text-color {
  color: #454056;
  font-weight: 600;
  font-size: 15px;
}

.btn-red {
  background: #ff5757;
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #ff5757;
  border-radius: 20px;
  padding: 8px 24px;
}
.btn-red:hover {
  background-color: white;
  color: #ff5757;
}

.category > img {
  width: max-content;
}

.category > span {
  text-align: center;
  font-weight: 400;
  color: #1f1b2d;
}

.search-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background: #f4f4f4;
  padding: 0px 10px;
  border-radius: 8px;
  color: #000;
  width: 30%;
  position: relative;
}

.search-container > input {
  background: transparent;
  outline: none;
  border: 0;
  color: #1e1e1e;
}

.filter-btn {
  border: 1px solid #dddddd;
  padding: 12px 20px;
  border-radius: 10px;
}

.filter-btn > span {
  font-weight: 700;
}

.help-container {
  position: relative;
  cursor: pointer;
}

.help-container > span {
  transition: 0.5s all ease;
}

.help-container > .tooltiptext {
  visibility: hidden;
  height: 100px;
  width: 300px;
  box-shadow: 0px 4px 12px 0px #1f1b2d14;
  background: #fff;
  border: 1px solid #efecf3;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 60px;
  /* left: 50%; */
  transform: translateX(-50%);
  opacity: 0;
  transition: all 2s ease;
}

/* .help-container .tooltiptext::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #333;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: 50%;
  transform: rotate(90deg);
  top: -15px;
  box-shadow: 0px 5.4094367027282715px 83.84627532958984px 0px #99abc62e;
  background: #ffff;
} */

.help-container > span {
  cursor: pointer;
}

.help-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

ul li {
  font-weight: 700;
  color: #454056;
  font-size: 15px;
  margin: 10px 0px;
}

ul li:hover {
  color: red;
}

.user-info > img {
  width: 40px;
  border-radius: 50%;
}

.menu-sub-dropdown.menu.show,
.menu-sub-dropdown.show[data-popper-placement] {
  /* visibility: hidden !important; */
  display: flex;
  border: none;
  flex-direction: column;
  will-change: transform;
  animation: menu-sub-dropdown-animation-fade-in 0.3s ease 1,
    menu-sub-dropdown-animation-move-up 0.3s ease 1;
}

.menu-sub-dropdown {
  display: none;
  border-radius: 1.15rem;
  background-color: #ffff;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  z-index: 107;
}

.menu-item {
  display: block;
  padding: 0.15rem 0;
}

.menu-sub-dropdown:after {
  right: 23px;
  left: auto;
  position: absolute;
  top: -7px;
  right: 20px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: "";
}

.category-list-items {
  padding: 8px;
  color: #454056;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: all 0.35ms ease-in-out;
}

.category-list-items:hover {
  background-color: #ff5757;
  color: var(--background-white);
  border-radius: 5px;
}

.elastic-search {
  position: absolute;
  width: -webkit-fill-available;
  height: 400px;
  background-color: var(--background-white);
  border: 1px solid #d5d2dc;
  border-radius: 5px;
  padding: 12px;
  z-index: 100;
  top: 56px;
  left: 0;
  max-width: 400px;
  overflow-y: auto;
}

@media (max-width: 1920px) {
  .category > span {
    font-size: 0.9vw;
  }

  button > span {
    font-size: 1vw;
  }
}

@media (max-width: 1429px) {
  #for-none-header {
    display: none !important;
  }
  .home-header {
    padding: 20px 0px 20px 0px;
  }
}

@media (max-width: 991px) {
  .vh-100 {
    height: 100vh;
  }
}

@media (max-width: 1480px) {
  .border-left {
    width: 15% !important;
  }
}

/* @media (max-width: 425px) {
  .btn-red {
    background: #ff5757;
    color: #fff;
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
    border: 0;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
  }

  .logo {
    width: fit-content;
    max-width: 140px; */
/* height: max-content; */
/* margin: auto 0;
  }
} */
@media (max-width: 517px) {
  .btn-red {
    background: #ff5757;
    color: #fff;
    display: flex;
    align-items: center;
    /* -moz-column-gap: 8px;
    column-gap: 10px; */
    border: 1px solid #ff5757;
    border-radius: 20px;
    padding: 8px 10px;
    font-size: 10px;
  }
  .header-menu-icon {
    height: 20px;
  }

  .logo {
    width: fit-content;
    max-width: 120px;
    /* height: max-content; */
    margin: auto 0;
  }
  .signIn-color-wht {
    color: #fff;
    font-size: 11px;
  }
  .signUp-color-wht {
    font-size: 11px;
  }
  .signIn-up-container {
    font-size: 11px;
  }
  .text-color{
    font-size: 12px;
  }
}
@media (max-width:500px) and (min-width:371px){
  .btn-red{
    padding: 5px !important;
  }
  
}
@media (max-width: 370px) {
  .btn-red {
    padding: 6px;
  }
  .logo {
    max-width: 100px;
  }
  .signIn-color-wht {
    font-size: 9px;
  }
  .signUp-color-wht {
    font-size: 9px;
  }
  .signIn-up-container {
    font-size: 9px;
  }
  .help {
    font-size: 11px;
  }
  .header-menu-icon {
    height: 20px;
  }
}
@media (max-width: 991px) {
  .findandconsult-help-section {
    display: none;
  }
}

@media (max-width: 600px) {

  .user-icon{
    display: none !important;
  }
  

}

